[2015-11-12 09:07] Dignifiedquire opened #1 "Integrate with a running daemon"
At the moment there are errors thrown when I already have a daemon running, but if I'm trying to run multiple ipfs apps in parallel and they all want to bring their own daemon this present an issue for me.

[2015-11-12 09:15] haadcode commented on #1
Thanks for filing the issue!

At the moment, the application shouldn't start if IPFS daemon is already running and you should see an error message in the logs: "IPFS daemon already running! Please make sure ipfs daemon is not running." and anonymous-networks should exit gracefully.

If this is not the case, can you provide the log (debug.log) and/or any other details as to how it fails?

[2015-11-12 09:34] Dignifiedquire commented on #1
That error works, but my point is that it should not throw an error, but instead connect to the running instance, as for example this stops me from running station and this at the same time.

[2015-11-12 09:36] haadcode commented on #1
Got it and agreed. Will put it on the todo list.

[2015-11-17 18:41] haadcode opened #2 "Rename the project"
Anonymous Networks was always a project name. "Anonymous" is misleading and causing confusion.

I'd like to rename the app to something better. Possibly with interplanetary inspiration behind the name :)

Suggestions welcome!

[2015-12-04 02:02] jbenet opened #3 "maybe rename Anonymous?"
Anonymity in crypto and messaging tools tends to mean privacy + untraceability, so things like tor and i2p. ip addresses of requesting things could be enough. i'd recommend renaming altogether. as i've mentioned this app to others their immediate questions lead down the tor/i2p route.

[2015-12-04 08:40] haadcode commented on #3
This is consistent with the feedback I've received so far and I'm planning on changing the name at some point. See https://github.com/haadcode/anonymous-networks/issues/2 and pitch in for ideas! :)

[2015-12-04 08:41] haadcode commented on #2
"Anonymous" is misleading and causing confusion.

[2015-12-04 13:32] jbenet commented on #2
some suggestions, but you should really pick whatever sings to you the most

- deck (deck of a ship)
- bridge (bridge of a ship)
- starchat
- spacechat
- spacetalk
- startalk -- though clash http://www.startalkradio.net/
- ipc
- ipchat
- iptalk

[2015-12-04 14:54] haadcode commented on #2
Are you guys fine if InterPlanetary is used in the name?

[2015-12-04 16:07] jbenet commented on #2
yeah go for it, just ask before you select one as there may be some we're reserving-- though i might be tempted to use ipc or ipchat some day too. **shrug**

[2015-12-04 19:15] mekarpeles commented on #2
Hale-baked ideas: (IPRC) InterPlanetary Relay Chat, (ICN) InterPlanetary Chat Network, the (ICE) InterPlanetary Chat Network, IM (InterPlanetary Messenger), (ICS) InterPlanetary Chat Stream, (IC) InterPlanetary Chat

[2015-12-06 09:53] haadcode commented on #1
Should be fixed with c3ebea089ad2d95944516d54888344292513b2af

[2015-12-06 09:53] #1 closed

[2015-12-06 09:59] haadcode commented on #2
Trying out a new name, see master.

[2016-03-11 13:32] dignifiedquire opened #5 "Can't run :("
Pulled the code down and then tried

1. `grunt` -> `open dist/Orbit-darwin-x64/Orbit.app/` -> empty app started
2. `cd client && npm i && grunt serve`, in another terminal `electron .`
  - if in `/` then the error is `App threw an error when running [Error: ```/Users/dignifiedquire/opensource/ipfs/anonymous-networks/node_modules/fibers/bin/darwin-x64-v8-4.7/fibers.node` is missing. Try reinstallin

[2016-03-11 14:27] dignifiedquire commented on #5
Solved

[2016-03-11 14:27] #5 closed

[2016-03-15 11:53] #2 closed

[2016-03-15 11:54] #3 closed

[2016-04-15 22:52] jbenet opened #6 "use different ipfs repos"
### background

It seems to me (sorry need to do more digging, will get to it later if i can) orbit asumes the ipfs repo is in `~/.ipfs` always. this makes it a bit difficult when playing with repos of different versions (eg fs-repo@1 (go-ipfs@0.3.x) and fs-repo@2 (go-ipfs@0.4.x)

### requests

would be nice if orbit:
- maybe default to a different location?
- allows specifying the path to the rep

[2016-04-15 22:56] jbenet opened #7 "Cleaner local state when running the app"
right now running orbit locally ( `node index.js`) uses some local state in its home directory. its not clear what is "dirty" and can be removed. (its not super clear from the gitignore either)

it may be better to have either:
- a clear account of what those files are in the readme, (or via `clean` target in a `Makefile` /  `Gruntfile`)
- or put all those under a directory, like `orbit-data` or s

[2016-04-15 22:59] diasdavid commented on #6
We can have IPFS_PATH for dev, but also have a settings page (for UX) to config the location of the IPFS Repo, such that if it doesn't find one on the default path, it will prompt the user, or if it finds, the users will be able change on the settings screen.

[2016-04-16 00:38] jbenet opened #8 "can't start after updates?"
cant start after updates. i made sure to:
[code]

here's what i tried?
[code]

[2016-04-16 17:11] haadcode commented on #8
Try running 'npm install' with npm v3.x (see updated README) and let me know if that doesn't work.

[2016-04-17 06:29] jbenet commented on #8
@haadcode thanks! npm3 worked 👍

[2016-04-17 06:29] #8 closed

[2016-04-17 07:37] jbenet opened #9 "URL parsing off"
looks like url parsing is off in text:

![](http://localhost:8080/ipfs/QmfHPx2b238QwAjrj95izqFfG9fdP2D9BCnekZmbjkuadE/2016-04-17-orbit-feedback.png)

[2016-04-17 07:38] jbenet opened #10 "Video doesnt show right"
Not sure why but video is not showing right:

![](https://ipfs.io/ipfs/QmfHPx2b238QwAjrj95izqFfG9fdP2D9BCnekZmbjkuadE/2016-04-17-orbit-feedback.png)

[2016-04-17 07:40] jbenet opened #11 "File URLs are off"
Looks like file gateway URLs are off (urls for files posted):
- now using: `http://localhost:5001/api/v0/cat?arg=QmZQhYyhYqwiBsyybyFP9VG1nFh6CMB8o3r5U8EMRagYT9`
  - API and read-write (protected) port
- want: `http://localhost:8080/ipfs/QmZQhYyhYqwiBsyybyFP9VG1nFh6CMB8o3r5U8EMRagYT9`
  - Gateway and read-only port

[2016-04-17 07:42] jbenet opened #12 "Clicking file navigates in current window."
- Problem: clicking link to a file navigates in current window, leaving chat behind.
- should open new tab/window. or preview below the message.

[2016-04-17 13:31] haadcode commented on #12
This should be fixed in master now.

[2016-04-17 13:31] haadcode commented on #10
This should be fixed in master now.

[2016-04-17 13:32] haadcode commented on #11
This is fixed in master now.

[2016-04-17 13:32] #11 closed

[2016-04-17 18:36] jbenet commented on #12
yep, fixed thanks!

[2016-04-17 18:36] #12 closed

[2016-04-17 18:36] jbenet commented on #10
yep fixed thanks!

[2016-04-17 18:36] #10 closed

[2016-04-20 22:24] RichardLitt opened #14 "File a catch for npm3"

[2016-04-21 08:10] jbenet commented on #14
- @RichardLitt had npm 3 installed (as `npm`), but not `npm3` program
- gruntfile requires precisely the `npm3` program
- the error message is not clear, needs to be obvious to the user. something like:
[code]

that reminds me, lets make sure nothing requires `npm install -g` and it's all local (i.e. it puts the bins in `node_modules/.bin` and uses them from there. may need to add `node_modules/.b

[2016-04-21 08:48] haadcode commented on #14
Thanks for filing the issue! I'm working on to fix this and get rid of npm3 wrapper altogether.

[2016-04-21 13:47] RichardLitt commented on #14
Sorry; I used `ghi` to quickly open this, was planning to fill it out later. Better to have it here than to forget to do it.

[2016-04-27 14:39] jbenet opened #15 "security notice/disclaimer in the app"
(talked about it in person)

we should have a disclaimer for orbit that right now it's not private at all yet. We dont want users to accidentally think it is.

It should be somewhere clearly noticeable, maybe:
- the login/username screen. (a short warning label underneath)
- the "home" screen before picking a channel (before you select a channel the large pane is empty)
- the channel interface (it

[2016-04-27 15:44] jbenet commented on #15
the disclaimer could say something along the lines of:
- "Security notice: Orbit is an early alpha. It is not private yet and peers in the network may be able to read all your messages."
- "Warning: alpha software. Messaging is not private yet."

[2016-04-29 06:12] haadcode commented on #14
This is fixed now.

[2016-04-29 06:12] #14 closed

[2016-05-10 08:54] haadcode opened #16 "Emoji auto complete and preview"
When the user types `:`, an emoji preview should appear. The emoji preview displays all available emojis.

The preview automatically updates the available emojis based on the user input:
`:` --> display all emojis
`:he` --> display all emojis starting with `he`
`:smile` --> display all emojis starting with `smile`

User should be able to press `tab` to cycle through the list of available emojis.
I

[2016-05-10 08:55] ralphtheninja commented on #16
+1

[2016-05-10 11:26] shamb0t opened #17 "Can't join a channel"
After connecting to the network, I can't seem to join a channel

Tried joining #ipfs and after the loading animation the page stays like this:
<img width="1322" alt="screen shot 2016-05-10 at 3 16 53 pm" src="https://cloud.githubusercontent.com/assets/2730657/15144785/afb8a8b0-16c2-11e6-8358-82ed791d8b39.png">

The channelstore isn't receiving any channels after the join:
<img width="983" alt="scr

[2016-05-10 11:33] shamb0t commented on #16
I can work on this

[2016-05-10 13:25] haadcode opened #18 "Automatically join channels on start"
The client should join pre-defined channels at startup, after Orbit is connected successfully.

Where to define the channels is to be decided (can be a json file, in ipfs, in orbit-db, etc.)

[2016-05-16 14:17] haadcode opened #21 "Timestamp issues"
Sometimes users' timestamps differ from each other causing messages to "pop in" to the message history instead of shown at the bottom (latest).

The timestamp can differ only a few seconds or it can differ a few minutes based on users' settings.

The timestamp is generated in Post ([ipfs-post](https://github.com/haadcode/ipfs-post/blob/master/src/Post.js#L41)) using `new Date().getTime()`.

Before

[2016-05-19 09:18] dignifiedquire opened #22 "Settings - Theme: [object Object]"
Opening the settings panel shows this:

![screen shot 2016-05-19 at 11 18 00](https://cloud.githubusercontent.com/assets/790842/15388680/622e49c2-1db3-11e6-9c81-e780f968d365.png)

[2016-05-19 09:18] dignifiedquire commented on #22
Also there is no save, cancel or close button to get back from the settings

[2016-05-19 09:23] dignifiedquire opened #23 "Error when joining channel - branch: orbitdbrefactor"
Error when joining channel

[code]

[2016-05-19 10:50] haadcode opened #24 "Cache emoji icons"
The emoji pictures are currently downloaded on request and it makes them to "pop in" when they first appear (either in the channel messages or emoji preview).

The emojis should be cached locally in the repository in client/src/icons/emojis.

Before doing this, we need to check the license for the emojis we currently use (https://github.com/banyan/react-emoji), ie. can we package them with the app

[2016-05-19 10:59] shamb0t commented on #24
react-emoji is MIT. The emojione assets it uses are under creative commons. I think we can package them with attribution

[2016-05-19 11:53] haadcode commented on #24
Excellent. There's no rush to this. It's more of an enhancement/performance optimization.

[2016-05-19 12:16] haadcode opened #25 "Some supported emojis are not rendered in the channel"
Some emojis don't get rendered in the channel even though they are supported and render fine in the emoji preview.

![screen shot 2016-05-19 at 14 11 28](https://cloud.githubusercontent.com/assets/7499694/15393121/c790be22-1dcb-11e6-9f3e-371c9cbde9a3.png)

This is most likely a bug in [TextMessage.js](https://github.com/haadcode/orbit/blob/master/client/src/components/TextMessage.js) `_emojify(...

[2016-05-20 15:43] haadcode commented on #18
@shamb0t is working on this.

[2016-05-20 15:46] haadcode commented on #6
`IPFS_PATH` is supported by ipfsd-ctl and now by Orbit. Fix still in a branch but fixed.

[2016-05-24 15:50] haadcode opened #29 "Make Orbit work in browsers with js-ipfs"

[2016-05-24 15:51] haadcode commented on #29
Happening here: https://github.com/haadcode/orbit/tree/js-ipfs

[2016-05-24 16:04] haadcode opened #30 "Add keyboard shortcuts"
The user should be able to use to a keypress combination to access the following features/actions in Orbit:
- open channels panel
- close channels panel
  - should be the same key with open channels panel
- next channel
- previous channel
- open settings
- upload file modal
- join channel input
  - one key to bring up the join channel input field in the channels panel
- leave channel

The keyboard

[2016-05-24 16:05] dignifiedquire commented on #30
important: some help page where these are documented :)

[2016-05-25 12:59] asbjornenge opened #32 "ECONNRESET"
Hi! I'm trying to start orbit, but keep getting:

[code]

I can telnet the ip and port in `network.json`.

[2016-05-25 15:49] haadcode commented on #32
Hey @asbjornenge, thanks for reporting the bug. Due to things being in flux, master might not work at the moment. I expect it to be fully working again next week. Meanwhile, if you're looking to try out Orbit, see https://github.com/haadcode/orbit/tree/js-ipfs.

[2016-05-25 20:19] asbjornenge commented on #32
Thanks! I can wait until things have calmed down :wink: Would appreciate a :wave: either on this issue or on twitter or something when it's ready for another try :+1:

[2016-06-01 12:45] dignifiedquire opened #33 "Issue collection"
I'm collecting all errors I see while running it in here so we have a place to find them

![screen shot 2016-06-01 at 14 14 21](https://cloud.githubusercontent.com/assets/790842/15709879/6e205f46-2807-11e6-9091-fd78b9103abd.png)
![screen shot 2016-06-01 at 14 44 06](https://cloud.githubusercontent.com/assets/790842/15709881/6fc4d714-2807-11e6-992f-a3383fbc7380.png)

![screen shot 2016-06-01 at 14

[2016-06-03 14:05] haadcode commented on #33
<img width="818" alt="screen shot 2016-06-03 at 16 03 59" src="https://cloud.githubusercontent.com/assets/7499694/15781121/ec9ff248-29a4-11e6-89bf-03309e81817d.png">

[2016-06-04 02:37] lgierth opened #34 "Configurable server and webrtc-star URIs"
We need to be able to set them to `https://webrtc.orbit.ipfs.io` and `https://pubsub.orbit.ipfs.io` (or anything really).

This needs to happen very soon so we can e.g. run orbit on https://orbit.ipfs.io.

[2016-06-06 07:15] haadcode commented on #33
This is the sequence of errors that happens on timeout:
![screen shot 2016-06-06 at 09 14 24](https://cloud.githubusercontent.com/assets/7499694/15814488/317a2658-2bc7-11e6-83ac-dd98c6f27575.png)

[2016-07-10 14:55] wanderer commented on #17
Also A problem for me

[2016-07-14 02:02] christianlundkvist opened #37 "Orbit uPort integration"
# Orbit uPort integration

This post describes a way to relatively quickly integrate uPort with Orbit. The user will be able to use their uPort name and profile picture in Orbit as well as provision a signing key that will sign Orbit messages. It will not require any changes to the uPort mobile app.

## User Flow (connecting uPort):

Orbit shows a QR code, the user scans it with her uPort app, thi

[2016-07-14 09:56] haadcode commented on #37
This is fantastic Christian! Pretty much how I imagined it to work, and how Orbit used to work. I don't have an iPhone but we'll arrange one.

There's some work I need to in both in Orbit and orbit-db to support signed messages.

Not sure yet if we should try to support encrypted messages, it's fairly large amount of work and there's quite a few unknowns. But what you described will get us started

[2016-07-16 02:45] christianlundkvist commented on #37
Cool, sounds good! Agreed that encryption support is a big task to do correctly. Let me know if there is anything you need further.

[2016-07-24 11:53] haadcode opened #39 "Include grunt-cli in the project so that it doesn't need to be installed globally"

[2016-07-24 11:53] haadcode opened #40 "Fix file previews"

[2016-07-24 11:53] haadcode opened #41 "Fix directory views"

[2016-07-24 11:54] haadcode opened #42 "Add 'npm run build' to build everything automatically"

[2016-07-24 12:17] haadcode opened #43 "Pre-calc everything in BackgroundAnimation render()"

[2016-07-24 12:18] haadcode opened #44 "Browser version should be able to save Orbit's data files"
Currently Orbit can't save 'orbit-db-cache.json' file in the browser version. This is due to 'fs' not being available in the browser.

Find a library that does this. This should not cause modifications to Orbit's or it's dependencies code.

[2016-07-24 12:24] haadcode opened #45 "Move all client related code and tools to client/ directory"

[2016-07-24 12:26] haadcode opened #46 "Buffering support for add/get files"

[2016-07-24 15:21] #29 closed

[2016-07-24 15:22] haadcode commented on #29
Finished with commit https://github.com/haadcode/orbit/commit/d1f8bdff17fe5b88b07cb6282da25b18649a8de2

[2016-07-24 15:33] haadcode commented on #32
This should be fixed now in master. Let me know if you still run into this problem, or any other.

[2016-07-24 15:33] #32 closed

[2016-07-24 15:33] #16 closed

[2016-07-24 15:34] #23 closed

[2016-07-24 15:34] #17 closed

[2016-07-24 15:34] haadcode commented on #6
This should now be possible with `IPFS_PATH`. Fixed in master.

[2016-07-24 15:35] #6 closed

[2016-07-24 15:35] haadcode commented on #18
Moving this back to `TODO` as things might've gotten broken along the way. I need to verify this still works.

[2016-07-24 15:41] haadcode opened #47 "Add build badge to README"

[2016-07-24 16:02] haadcode commented on #41
Blocked by https://github.com/ipfs/js-ipfs/issues/368

[2016-07-24 16:03] haadcode commented on #41
Electron/go-ipfs version shouldn't be blocked by anything. The code in MessageStore/getDirectory needs to be refactored to fix this.

[2016-07-24 19:08] jbenet commented on #6
+1 to @diasdavid's suggestion that there should be a way to configure this
in the UI itself? but prob not worth doing for a while

On Sun, Jul 24, 2016 at 4:35 PM Haad <notifications@github.com> wrote:

[2016-07-24 19:08] jbenet commented on #17
@haadcode guessing this is resolved?

[2016-07-24 21:21] haadcode commented on #6
I don't think Orbit's settings are the right place to do such config. From user's perspective, well, they don't care where the repo is, or what a repo even is. To me this sounds purely a dev feature. Let me know if you disagree, though.

[2016-07-24 21:24] haadcode opened #48 "Add instructions to README on how to use different IPFS data repo with IPFS_PATH"
Originally proposed here: https://github.com/haadcode/orbit/issues/6#issuecomment-234795741

[2016-07-24 21:30] haadcode opened #49 "Orbit API documentation"

[2016-07-24 22:46] haadcode commented on #17
Fixed in master.

[2016-07-26 10:25] haadcode commented on #44
Options:
https://www.npmjs.com/package/fs-web
https://github.com/jvilk/BrowserFS

Or we could use what @dignifiedquire suggested:
< dignifiedquire> you could do the same thing we do in js-ipfs-repo
< dignifiedquire> haad: https://github.com/ipfs/js-ipfs-repo/tree/rxjs/src fs-store and idb-store have the exact same api
< dignifiedquire> also https://github.com/maxogden/abstract-blob-store

[2016-07-26 13:40] #25 closed

[2016-07-29 08:41] haadcode opened #52 "Use Reflux 0.5 for Stores in the client"
Reflux 0.5 will bring ES6 Stores and simplify the Stores even further. We need to refactor all stores to use the new syntax.

More info: https://github.com/reflux/refluxjs#react-es6-usage

[2016-07-29 10:11] haadcode opened #53 "CLI for Orbit"
We should have a CLI for Orbit. This can be done by wrapping src/Orbit.js.

[2016-07-29 10:38] #42 closed

[2016-07-29 10:38] #39 closed

[2016-07-29 10:38] #47 closed

[2016-07-29 21:34] claus commented on #21
This is an interesting problem. In traditional centralized applications, timestamping happens on the server, ensuring that timestamps are consistent. In decentralized applications, there is no central authority that handles those things, timestamping happens on the client, so a timestamp is set to whatever the client's clock is set to, which could be anything.

Maybe request timestamps from connec

[2016-07-30 16:06] jbenet opened #54 "main.js size?"
I went to orbit.libp2p.io on a pretty good network in Lisbon and it took a long time to work (at first i didn't know what was up). Turns out main.js is 7.5MB. Can we do something about load time? I don't feel comfortable sending the link to people having this extra thing to explain.

To reduce the size, maybe:
- minify (it's not minified AFAICT)
- version-flatten or shed library deps?

To reduce l

[2016-07-30 17:38] haadcode commented on #54
Yes! All of these. File size hasn't been a priority yet and given all the deps (js-ipfs in itself is huge) it's time to pay attention to it.

@claus had some ideas on this.

Will see what low hanging fruits there are and track the progress here.

[2016-07-30 17:49] haadcode opened #55 "Reduce Electron app's startup time"
Currently, the Electron app's initial startup time can take anything from a couple of seconds to ten. This is due to booting up the go-ipfs daemon first and only then displaying the "login" screen.

To fix this, we should display index.html immediately and start go-ipfs daemon after that (or in parallel). We should also display a "Loading..." text while loading in more assets or starting ipfs daem

[2016-07-30 18:24] dignifiedquire commented on #55
Suggestion: Display something like `Starting ipfs` while the node is starting up.

[2016-07-30 18:26] dignifiedquire commented on #54
I suggest also looking into webpack2 tree-shaking: http://www.2ality.com/2015/12/webpack-tree-shaking.html

[2016-07-31 08:16] claus commented on #54
Two suggestions:

1. Uglify: https://github.com/haadcode/orbit/pull/56 (7.64mb -> 3.04mb)
2. Have Webpack split vendor code into separate bundles (js-ipfs related stuff into one, React into another maybe?) See https://webpack.github.io/docs/code-splitting.html#split-app-and-vendor-code. This doesn't help with size, but with caching as the bulk of the code probably changes less frequently than Orbi

[2016-07-31 09:47] haadcode commented on #54
Merged https://github.com/haadcode/orbit/pull/56

[2016-07-31 10:00] claus commented on #54
You should also tell your server at orbit.libp2p.io to gzip files. That would bring `main.js` down to 833kb :)

[2016-08-01 09:23] haadcode commented on #40
Blocked by https://github.com/ipfs/js-ipfs-api/issues/323

[2016-08-01 11:54] diasdavid commented on #40
Blocked as in "you need to use 0.4.3"? Once the release is done and this fixed, the migration should be seamless to you. This is a very important bug to fix soon nevertheless, but let me know what you need so we can bump it even more :)

[2016-08-01 12:00] diasdavid commented on #40
Blocked as in "you need to use 0.4.3"? Once the release is done and this fixed, the migration should be seamless to you. This is a very important bug to fix soon nevertheless, but let me know what you need so we can bump it even more :)

[2016-08-01 13:19] haadcode commented on #37
Dependencies:
- [ ] https://github.com/haadcode/orbit-db/issues/57
- [ ] https://github.com/haadcode/ipfs-log/issues/34

[2016-08-02 12:59] haadcode opened #57 "Orbit's 2016 Q3 Roadmap"
This issue is to gather all information regarding Orbit's development plan for Q3/2016.

[2016-08-02 13:06] haadcode commented on #57
## Milestones and Goals

1. [Fix Orbit](https://github.com/haadcode/orbit/milestone/2)
2. [Integrate Orbit with uPort](https://github.com/haadcode/orbit/milestone/3)
3. [Improve Orbit's documentation and developer experience](https://github.com/haadcode/orbit/milestone/4)
4. [Orbit with IPFS Pubsub](https://github.com/haadcode/orbit/milestone/5)

See the overall milestone status here: https://gith

[2016-08-02 13:09] haadcode commented on #57
## Status and Progress

[![Project Status](https://badge.waffle.io/haadcode/orbit.svg?label=TODO&title=TODO)](http://waffle.io/haadcode/orbit) [![Project Status](https://badge.waffle.io/haadcode/orbit.svg?label=In%20Progress&title=In%20Progress)](http://waffle.io/haadcode/orbit) [![Project Status](https://badge.waffle.io/haadcode/orbit.svg?label=Done&title=Done)](http://waffle.io/haadcode/orbit)

[2016-08-02 15:06] haadcode commented on #57
Added https://github.com/haadcode/orbit/blob/master/ROADMAP.md

[2016-08-02 15:08] haadcode opened #58 "Move all items from TODO.md to Issues"

[2016-08-02 18:09] #57 closed

[2016-08-04 07:04] haadcode opened #59 "Media player component for the client"
Orbit supports playing media (video + audio) directly from IPFS files. However, the browser version and Electron version do it differently due to their respective platform constraints.

Browser version uses MediaSource API which in itself is limited and has a major drawback: you need to know the specific codec for video before you can start playing.

Electron version can (could) use the localhost

[2016-08-04 07:10] haadcode opened #60 "Threaded conversations"
Orbit should have threaded conversations. This means that you should be able to "reply" to a message.

I imagine this to work so that we add a "reply" button to each message in the UI and display an indicator in the "send message" field that you're replying to a message (as opposed to a new message).

If a message in the chat has replies to it, the UI (ie. a single message line) should display a c

[2016-08-04 07:14] haadcode opened #61 "Message collections"
It should be possible to "pin" a message to a collection.

The user should be able to have multiple collections, easily access them and move pinned messages between the lists.

Much like playlists in a music player.

Each message in the chat UI should have a "pin" button and when clicked, the message gets saved to a default "Pinned" collection.

The user should be able to add and delete collection

[2016-08-04 07:19] claus commented on #59
Re: codecs, for mp4 at least, we can use [MP4Box.js](https://github.com/gpac/mp4box.js#onreadyinfo) to get the codec info that MediaSource needs. Store that in the meta field we now have in https://github.com/haadcode/ipfs-post/blob/master/src/FilePost.js, and we're good to go.

[2016-08-04 07:21] haadcode opened #62 "Messages should support simple markdown"
It should be possible to add markdown to messages.

There isn't a implementation for proper multi-line messages atm. so this could be a limited markdown, a subset.

I'm thinking the following should be included:
- *Italics*
- **Bold**
- `Code block`
- ~~Strikethrough~~

The markdown should be parsed from the message before rendering. This can be done similar to emojify and linkify parts of the mes

[2016-08-04 07:22] haadcode opened #63 "Multi-line messages"
The user should be able to write multi-line messages

[2016-08-04 07:25] haadcode opened #64 "Notification indicators for Electron app"
The Electron apps' dock icon should display a notification indicator when new messages or highlights appear and the app is unfocused.

These can be dig out from the UI's internal highlight and mentions system and passed via Electron's IPC to the app's main process. Electron itself has a built-in support and functionality to display the icon in the dock.

[2016-08-04 07:28] haadcode opened #65 ""New messages" line in the chat window"
It would be cool if there was an indicator that would show me the new messages since I last saw the channel.

How it would work is that when I switch to a channel that has received new messages since the last time I checked, the UI would display and indicator to show what was the last message I saw.

This could be as simple as a line after the last message I saw as it would tell "everything under

[2016-08-04 07:32] haadcode opened #66 "One-to-one messages"
It should be possible to send a direct message to a user. Ie. 1-to-1 conversations.

1-to-1 conversations could be prefixed with '@' instead of '#' (channel). These could be expressed as orbit-db feed names with '@user1-to-@user2' where the order of usernames is deterministic (alphabetical).

There's a lot of UI work to make this happen.

[2016-08-04 07:40] haadcode commented on #63
The initial version doesn't need to include this, but it'd be great to be able to specify the "format" for a multiline message: plain text or "code". If "Code" format is selected, it gets rendered with syntax highlighting when received (use highlight.js, same as for files atm).

[2016-08-04 07:46] claus commented on #59
Also, mp4s need to be fragmented for MediaSource playback. I think MP4Box can solve that, too.

[2016-08-04 07:52] haadcode commented on #59
We should also take a look at:
https://github.com/feross/render-media
https://www.npmjs.com/package/videostream

[2016-08-04 08:07] haadcode commented on #33
Closing this as most of these issues have been fixed in js-ipfs and libp2p. For further issues, let's track them individually at their respective repositories.

[2016-08-04 08:07] #33 closed

[2016-08-04 08:22] haadcode opened #67 "Orbit <--> IRC"
I would love to connect orbit to IRC. It should be possible to join an IRC channel in Orbit and post messages to it as well as receive all the channel messages, perhaps even private messages.

There are multiple ways to do this, so ideas and possible solutions highly welcome in the comments!

What I'm thinking currently as a prototype:
- Make a Node.js program and use Orbit.js as a module
- Use ht

[2016-08-04 08:22] dignifiedquire commented on #60
Flowdock has the best implementation I have seen so far on this: https://www.flowdock.com/features

Screenshot:

![screen shot 2016-08-04 at 10 21 36](https://cloud.githubusercontent.com/assets/790842/17395153/49c05a0e-5a2d-11e6-81d6-12c00e5cb2aa.png)

[2016-08-04 08:24] dignifiedquire opened #68 "Improve Emoji Support"
- [ ] Nicer picker: https://github.com/missive/emoji-mart
- [ ] Upload custom emojis, so we can bring in the :jdag:

[2016-08-04 08:27] dignifiedquire commented on #64
On this note, native notifications for new messages would also be nice. I've used https://www.npmjs.com/package/node-notifier for this with great success

[2016-08-04 08:27] dignifiedquire commented on #62
Inline code would also be super nice `like this`

[2016-08-04 08:34] haadcode opened #69 "Light color scheme"
It would be great to have a light color scheme for Orbit.

This could be an inverse of the current color scheme. The user should be able to choose between dark and light schemes in the settings.

Not sure yet how exactly this could be implemented. Needs some research to see what options are there. It should be, however, a simple and clever solution so that we don't need to duplicate any CSS.

[2016-08-04 08:35] haadcode opened #70 "Search"
It should be possible to search for any content within Orbit.

[2016-08-04 08:38] haadcode opened #71 "Orbit <--> Slack"
It would be great to connect Orbit with Slack. Similar to Orbit <--> IRC (https://github.com/haadcode/orbit/issues/67), it should be possible to send and receive messages from Orbit to Slack and the other way around.

This is probably quite a bit of work since the permissions with Slack are complicated and at the same time, Orbit doesn't have any permission handling.

As with IRC connectivity, **t

[2016-08-04 08:41] dignifiedquire commented on #71
As slack data often contains private information I don't think this should be done before permissions + encryption are fully integrated into orbit.

[2016-08-04 10:12] haadcode commented on #60
Did a simple prototype here: https://github.com/haadcode/orbit/tree/threads

[2016-08-04 14:50] #58 closed

[2016-08-05 02:17] jbenet commented on #60
Wow that flowdock UX is really good. The color + popout window adds so much

Thanks @haadcode! can't wait to try it
On Thu, Aug 4, 2016 at 06:12 Haad <notifications@github.com> wrote:

[2016-08-08 10:02] haadcode opened #72 "Support signed messages"
Orbit's messages should be signed with a signing key so that the messages and their sender can be verified upon receiving.

[2016-08-10 08:20] #44 closed

[2016-08-10 08:21] #72 closed

[2016-08-10 14:56] #18 closed

[2016-08-10 14:56] #40 closed

[2016-08-10 14:56] #41 closed

[2016-08-10 23:54] jbenet commented on #37
@christianlundkvist can i get uPort iOS app?

[2016-08-11 01:49] jbenet commented on #72
This is exciting :)
On Wed, Aug 10, 2016 at 04:21 Haad <notifications@github.com> wrote:

[2016-08-11 02:39] christianlundkvist commented on #37
@jbenet

Of course! I just need the email you use for iCloud so we can add you to TestFlight. Install TestFlight and you should be able to install uPort once we add you.

[2016-08-12 06:51] jbenet commented on #37
[Great!](http://new2.fjcdn.com/pictures/I_24557b_515192.jpg)

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.55
Comment: https://keybase.io/crypto

wcBMAwmqT7D1KI2uAQf+NJQTkuZuKYh794kWI8OZk7ZuBf+S0zpBquoh0kY2ojjO
fqhafX5wE0Ie0f5SueR11sdwgfU5eAgVQp2mgXVyqYPZyp1pbCogBTb5myT2vLdv
pFCOni3KP1R4sVsY4lnS4TUU0OX2YtP6SUGJAmNJptUk1nPpPoV9r1bhi5cMnQbV
ockFnsHuNX5dx22NpG4bPZmNqWF/FuefyD5+CcyghCt7uw

[2016-08-15 13:13] christianlundkvist commented on #37
Thanks @jbenet! I'm adding you and @haadcode to the TestFlight program so you can get the app!

Cheers,
C

[2016-08-15 14:29] haadcode commented on #37
Got it and have it running with a profile. Will start working on this tomorrow.

[2016-08-16 10:31] haadcode opened #74 "Reduce client's build time"
Rebuilding the client build in development (`grunt serve`) takes painfully long. We need to reduce this as much as possible to improve the developer experience.

[2016-08-16 10:33] haadcode commented on #74
First part is done: https://github.com/haadcode/orbit/commit/abbdf67c3c52e7ddf96d516904b518f5d54c8483

js-ipfs is still bundled with the app code due to it being included in webpack exports. We should change the loading of ipfs module so that it happens in index.html (load it from cdn/static asset/url/window.Ipfs) and main.js doesn't require() it.

[2016-08-16 10:42] diasdavid commented on #74
With every js-ipfs release, a dist is created and put on npmcdn. You can use that one already :)

[2016-08-17 06:40] haadcode commented on #74
I prefer to have all assets included with the build, less stuff to download the better :) But essentially that's what I ended up doing with js-ipfs for now, I couldn't get it chunked in webpack :/

[2016-08-18 11:54] haadcode opened #75 "Can't click anything in client's dev mode"
When you open the dev server for the client, you can't click anything on the page initially. This is due to using the webpack-dev-server's iframe mode which sets the iframe's (orbit's) z-index to -1 (behind the dev-server layer).

[2016-08-18 11:59] #75 closed

[2016-08-22 16:15] haadcode commented on #37
Progress:
![screen shot 2016-08-22 at 17 50 24](https://cloud.githubusercontent.com/assets/7499694/17862160/54a836ba-6894-11e6-89a5-d160c4cfb4ca.png)

cc @christianlundkvist

[2016-08-22 16:20] jbenet commented on #37
On the internet, nobody knew you were really a cat. Until uPort!

[2016-08-22 16:22] dignifiedquire commented on #37
😹 😹 😹

[2016-08-22 16:22] jbenet commented on #37
@haadcode that's great! 👍

[2016-08-22 16:25] christianlundkvist commented on #37
Haha awesome job! Glad you managed to push through despite the issues! 😃 @haadcode are you adding an orbit signing key to the uPort profile? Or is that the uPort signing key you're displaying?

[2016-08-22 16:27] jbenet commented on #37
Would be good to derive one for orbit.

@christianlundkvist do you have some standard / recommended way to derive keys?

[2016-08-22 16:28] haadcode commented on #37
@christianlundkvist atm neither. there's still an issue in the uPort app re. getting the pub signing key from Persona and I was thinking using that. I'll do a test to add the Orbit signing key to the profile and use it (right now I'm using Orbit signing key, it's just not added to the profile).

[2016-08-22 16:34] jbenet commented on #37
We will actually need to derive various keys over time, so we'll need 1 key to be Orbit root key, and then derive keys (HD? or something else?) because we'll be signing a ton. (the more you sign with a key, the easier it is to attack. you dont want to use the same key for signing millions of things)

[2016-08-22 16:35] christianlundkvist commented on #37
@jbenet @haadcode I think here we don't need to strictly derive a key from the master key here, we can just generate an orbit key randomly and add the public key to the profile. If you look at the attestation-demo repo we are adding profile data.

The master pubkey is not supposed to leave the device so it would be cumbersome to sign each message with that key, so we do want a specific key for orb

[2016-08-22 16:37] jbenet commented on #37
Ah, sounds good 👍

[2016-08-22 16:42] haadcode commented on #37
Sounds good! I'll work on this further tomorrow and will keep you posted.

[2016-08-22 16:43] christianlundkvist commented on #37
@haadcode great! you should be able to add it using the `uport-profile` library.

[2016-08-22 17:20] christianlundkvist commented on #37
@jbenet if we want to avoid having long-lived orbit keys we could rotate the orbit key at regular intervals and update the uPort registry accordingly. We will have to think about revocation etc later on but for now it might be enough to have an expiry date for the keys.

[2016-08-26 09:22] haadcode commented on #59
We should also take a look at this: https://github.com/Dash-Industry-Forum/dash.js. Reference implementation: http://mediapm.edgesuite.net/dash/public/nightly/samples/dash-if-reference-player/index.html.

More detailed information in their Wiki https://github.com/Dash-Industry-Forum/dash.js/wiki.

[2016-08-26 11:20] haadcode commented on #37
Status update:

*(see screenshots below)*

I've gotten it all working now with Orbit signing key as an attribute in the uPort profile. That is to say: it works now :) The keys generated are stored locally (in Orbit's data directory), so when you sign in, Orbit will use your existing key (as opposed to generating a new one every time). Upon first login, uPort will ask you to sign the attribute (`or

[2016-08-26 11:20] haadcode commented on #37
![orbit-uport1](https://cloud.githubusercontent.com/assets/7499694/18003732/dcab1232-6b8f-11e6-9253-f59c0aaf69b0.png)

[2016-08-26 11:20] haadcode commented on #37
![orbit-uport](https://cloud.githubusercontent.com/assets/7499694/18003736/e1f7c686-6b8f-11e6-8478-2322a633fd7f.gif)

[2016-08-26 18:12] christianlundkvist commented on #37
@haadcode Wow, awesome! That is so cool! 😃

These modules will definitely be public at least by Devcon, but we could also make them available sooner. We want to improve some of the flows, like for instance it's nicer if when signing an attribute only the attributes gets sent to the phone (via QR) and you assemble the complete JSON on the phone instead of just signing the transaction on the phone a

[2016-08-29 09:03] haadcode opened #86 "Use a Yubikey to login"
With the uPort integration, Orbit will have a notion of *identities* and has a default identity provider (orbit). It'd be cool if orbit's identity provider could use a Yubikey to sign and verify a login not unlike uPort does with the QR codes and mobile app.

There's a module for Node.js that we can use https://www.npmjs.com/package/yubikey

More developer resources and documentation at https://de

[2016-08-29 09:57] jbenet commented on #86
👍

we'll also want a way to store profile data that's standard, and works with all id providers. is that already tracked in the orbit-db log or are you using uport?

[2016-08-29 10:19] haadcode commented on #86
@jbenet do you mean standard way of presenting the user profile (similar to POST)?

At the moment the user profile data is normalized within Orbit:
[code]

I'm in the process of turning that into a data structure (class in this case).

Do you mean like a log of all user profiles that go through Orbit, so that you have a database of all users? This doesn't currently happen, but would be trivial to

[2016-08-31 14:51] haadcode opened #89 "Separate FilePreview from File in the client"
Currently the file preview functionality is in client/src/components/File.js (handleClick()). It's getting out of hand and we should refactor the file preview to its own React component.

[2016-09-02 13:39] haadcode opened #95 "Use username as seed for random in BackgroundAnimation's"
Math.random function in BackgroundAnimation.js should use the the username as the random's seed (in LoginView).

BackgroundAnimation should take a `seed` from the passed properties:
[code]

This enables to tie the little orbiting planets to the username, ie. every time you type in your username, you see the same planets.

[2016-09-02 13:40] haadcode opened #96 "Message texts shouldn't have transparency in their default color"
Change the color of the text in TextMessage.scss to fit the current color and set opacity to 1.0.

[2016-09-05 15:17] jbenet opened #98 "Bad failure when opening Orbit.app with repo of wrong version"
This shows up when opening Orbit.app with an ipfs repo of unexpected version (`4` instead of `3`). Seems like a check for expected repo version should happen, and a clear error message given to the user.

![orbit-ver-err-1](https://cloud.githubusercontent.com/assets/138401/18251944/88140b66-738c-11e6-83ec-2963b59f54a3.png)
![orbit-ver-err-2](https://cloud.githubusercontent.com/assets/138401/182519

[2016-09-05 15:17] jbenet opened #99 "Requires pre-inited .ipfs repo"
Starting a pre-built Orbit.app fails cryptically with the following errors. It seems that it requires:
- an existing ipfs repo to exist in `~/.ipfs`

![orbit-errs](https://cloud.githubusercontent.com/assets/138401/18251959/9f784c0e-738c-11e6-8a84-43fd4061c117.png)

[2016-09-07 05:22] haadcode commented on #63
Reference to try out: https://quilljs.com/

[2016-09-07 09:34] dignifiedquire commented on #63
There is also

- http://prosemirror.net/
- http://codemirror.net/
- https://facebook.github.io/draft-js/

which might be interesting to look at

[2016-09-09 13:03] haadcode opened #100 "Devcon2 demo"
This is an issue to track Devcon2 demo of Orbit.

- [X] Orbit with uPort identities
- [ ] Comments system ( working title "Planet Express")

[2016-09-09 13:06] haadcode commented on #100
For uPort, need to:
- [ ] Make a final build that will be used for the demo
- [ ] MAke final build available for download (via IPFS, ipfs.io)
- [ ] Discuss and coordinate with ConsenSys to make sure the uPort modules are public before Devcon
- [ ] Final tests for the browsers version
- [ ] Deploy browser version

[2016-09-09 13:08] haadcode commented on #100
"Planet Express" work happens here: https://github.com/haadcode/orbit/tree/tests.

![screen shot 2016-09-08 at 15 29 30](https://cloud.githubusercontent.com/assets/7499694/18387829/35dfa182-769f-11e6-947a-f18e42078295.png)

## TODO
- "retweet" functionality ("pin")
    + needs its own post and react renderer (like Message or Reply)
- fix feed history lengths, ie. how many items to display at a tim

[2016-09-09 19:39] jbenet commented on #100
@haadcode i think this should be a different repo so other people can help and you dont have branches that cant merge into each other. Unless you want one executable to do everything? or this one repo to produce many executables?

[2016-09-09 19:48] jbenet commented on #100
### visual feedback

![image](https://cloud.githubusercontent.com/assets/138401/18400644/cf2d82aa-76a4-11e6-9adb-e3965ac9b4aa.png)

[2016-09-13 19:21] jbenet opened #104 "[pubsub] Orbit electron concerns -- clashing ports and repos"
## Status quo

###  current state of `orbit-electron@pubsub`, using `go-ipfs@feat/pubsub`

- users may have installations of go-ipfs. at any of {`@0.4.2` or lower, `@0.4.3-rc#`, `@0.4.4-dev`, `@feat/pubsub`}
- users may have lingering `$user/.ipfs` repos at various versions. {`1, 2, 3, 4`}
- `orbit-electron` requires using local repo (`$user/.ipfs`)
- `orbit-electron` may use local `ipfs` or its o

[2016-09-13 19:32] VictorBjelkholm commented on #104
@haadcode I'm happy to help out with these if we can make a bullet list and I'll take some of the tasks, assuming this is something that needs fixing before devcon @jbenet

[2016-09-13 19:35] lgierth commented on #104
this can be achieved by unconditionally connecting to /ip4/127.0.0.1/tcp/4001 -- it'll *always* work, no matter the mDNS weirdnesses. (did we ever test mDNS on localhost?)

[2016-09-13 19:47] haadcode commented on #104
We definitely have a different bar what is user friendly ;)

Valid points re. the demo-esque nature of this build. Making sure it works is not much work, mainly handling errors properly in Orbit.

Even though it's a demo, these kind of configurations don't belong in the UI. I'll see what's the best way and make it a fluid experience so that there's no user configuration required. I'll let you know

[2016-09-13 19:47] dignifiedquire commented on #104
Re ports in use, you could also try different ports, if one fails to bind.

[2016-09-13 21:37] VictorBjelkholm opened #105 "npm install with node v4 and npm v3"
[code]

Arguments and versions ^

Seems like it's not installing properly. Gist of error here: `Refusing to delete /home/victor/projects/misc/orbit/node_modules/go-ipfs-dep/node_modules/.bin/go-platform: containing path /home/victor/projects/misc/orbit/node_modules/go-ipfs-dep/node_modules/go-platform isn't under npm's control`

Full install log here: https://ipfs.io/ipfs/QmWLeofnwHG3nws99LFuprygF

[2016-09-13 23:49] haadcode commented on #104
I made a commit that (latest pubsub branch):
- Uses application specific IPFS data directory (`Library/Application Support/orbit-floodsub-ipfs-repo`)
- Make sure to either pickup a running floodsub-0 daemon
- Or ask the user to shutdown running (incompatible) daemons
- Starts a floodsub-0 daemon if none running and binds to `.../tcp/0`

These steps make it behave nicely and while the user experien

[2016-09-14 06:28] haadcode commented on #105
Not sure why that is, never seen it before.

Also, please note that Orbit requires Node.js v6 as per requirements in README https://github.com/haadcode/orbit/tree/pubsub#requirements

[2016-09-14 11:56] haadcode commented on #104
Improved the path and error handling further with this commit: https://github.com/haadcode/orbit/commit/a2256d5dec2e8a2363e3d1b8d54e43b15b2e3803

[2016-09-14 12:24] VictorBjelkholm commented on #104
@haadcode not sure if it's accidental or not, but a2256d5dec2e8a2363e3d1b8d54e43b15b2e3803 contains code outputted from build in `client/dist/`

[2016-09-14 14:00] haadcode commented on #104
Not accidental. Putting the UI build in so that it's quicker to get started (instead of doing 2x npm install & npm run build).

[2016-09-14 14:01] haadcode commented on #98
This should be fixed in pubsub branch now.

[2016-09-14 14:01] #98 closed

[2016-09-14 14:02] haadcode commented on #105
I'm gonna close this as it concerns Node.js v4. If you still run into build problem, please do open new issues.

[2016-09-14 14:02] #105 closed

[2016-09-14 14:03] haadcode commented on #99
This shouldn't be case anymore, fixed in pubsub branch.

[2016-09-14 14:03] #99 closed

[2016-09-14 14:07] haadcode commented on #7
This should be fixed now in the pubsub branch. I'm gonna keep this open until the changes are in master but do let me know if you still find issues with the dev directory state.

[2016-09-14 23:10] jbenet commented on #104
thanks for improving this 👍 ❤️

[2016-09-16 06:14] jbenet opened #110 "go-ipfs floodsub1 requires ipfs daemon flag"
@whyrusleeping asked me to say that: go-ipfs now ([floodsub1](https://dist.ipfs.io/go-ipfs/floodsub-1)) requires launching `ipfs daemon` with a flag to enable pubsub, like this:

[code]

I looked and https://github.com/ipfs/js-ipfsd-ctl didn't let you add flags, so i wrote https://github.com/ipfs/js-ipfsd-ctl/pull/107 to add flags. You should now be able to do:

[code]

That PR also fixes some bug

[2016-09-16 07:25] haadcode commented on #110
Excellent! I'll pull that in. Thanks for adding the gatewayAddr also :+1:

[2016-09-16 08:54] haadcode commented on #110
Fixed in branch `pubsub`.

[2016-09-16 08:54] #110 closed

[2016-09-16 09:47] haadcode commented on #104
Improved this further as per our discussion: Orbit now *always* spawns its own daemon.

[2016-09-16 10:27] jbenet commented on #104
Thanks ❤️❤️❤️
On Fri, Sep 16, 2016 at 5:47 AM Haad <notifications@github.com> wrote:

[2016-09-16 12:59] haadcode opened #111 "Separate Orbit.js (core) to its own module"
Orbit.js, the main part of Orbit, should be its own module so that it's reusable by other programs.

[2016-09-16 12:59] haadcode commented on #111
Work happening here: https://github.com/haadcode/orbit-core

[2016-09-16 13:00] haadcode opened #112 "Separate UI to its own project"
The Electron app and browser UI should be separated to its own project and repository.

[2016-09-17 04:04] haadcode opened #113 "Tests for the Electron app"
Currently the Electron app doesn't have tests. It should.

We can use this: https://github.com/electron/spectron

[2016-09-17 04:05] haadcode opened #114 "Sign Electron distribution builds"
As we start to integrate distribution builds into our build process, we should sign the builds.

Can be done with this: https://github.com/electron-userland/electron-osx-sign

[2016-09-17 04:07] haadcode opened #115 "Better dev tooling for the Electron app"
We should use this http://electron.atom.io/devtron/ to have better debugging for the Electron app.

[2016-09-19 12:12] haadcode opened #118 "Add a date separator to the channel view"
It would be great to separate messages between dates with an element showing when the date changed.

[code]

[2016-09-20 09:51] haadcode opened #120 "Move Orbit to the main process in the Electron app"
Orbit is now in the renderer process in the Electron app. Sending a message involves signing which is heavy and yanks the UI sometimes, so it'd be better to do that in the main process.

[2016-09-23 10:05] haadcode commented on #120
I thought about this and looked into the code and it actually doesn't make sense. Signing a message is not done that often (unless you spam on purpose) in the UI, so it's fine to keep it there.

[2016-09-23 10:05] #120 closed

[2016-09-23 10:09] haadcode commented on #104
I believe these issues were resolved during the time leading up to Devcon2. The fixes are in `devcon2` branch and will be merged to master along with all the other improvements and new features. If you experience more "smoothness" issues, please open a new issue. Thank you all for the testing and work you did for this! <3

[2016-09-23 10:09] #104 closed

[2016-09-24 12:27] r0kk3rz commented on #112
It would also be nice if the backend libraries didnt rely on anything with DOM or Node.js specific stuff.

This would allow the libraries to be used for a QML based client, which has its own javascript environment.

[2016-09-25 05:49] haadcode opened #123 "Fix channel history fetching"
Currently 64 messages are fetched from the history upon joining. This doesn't work that well and it'd be better to fetch the history on-demand.

Fetch 1 items, render, fetch second, render, etc. up to the height of the channel view (ie. what you see in your client). When the user scroll up to see older messages, the client triggers another fetch, etc. Might be good to fetch in bigger batches, say,

[2016-09-25 05:51] haadcode opened #124 "Messages "jump" in the channel view when new messages arrive"
The channel's scroll position should stay the same when new messages arrive to the channel. This used to work but got broken at some point.

The code is in client/src/components/Channel.js

[2016-09-25 06:09] haadcode commented on #112
@r0kk3rz have you come across this somewhere? I totally agree with what you're saying and would to know where it breaks atm so I can fix it. Let me know if there's anything specific that is not working.

[2016-09-25 06:33] haadcode opened #125 "Fix directory view so that html pages can be "run" directly by opening them"
Currently when the user opens a directory which contains an index.html file and opens it, it's opened by the file's hash. It should be opened relative to the directory hash so that the page can be displayed like it would be displayed in the browser.

This means, instead of "open Qm...FileHash (index.html)" should be opened as "open Qm...DirectoryHash/index.html".

[2016-09-25 06:48] haadcode opened #126 "Make Orbit usable for a small team"
We're close to be able to start dogfooding Orbit with a small team. This issue is to track the goals and tasks we need to be able to do that.

[2016-09-25 06:50] haadcode commented on #126
- Encryption
- Make sure that messages are cached in the network (cacher bots)
- Release builds for easy installation
- Namespaced channels, eg. "/ipfs/fun-and-random"
- Access control for channels

[2016-09-25 08:29] r0kk3rz commented on #112
@haadcode I haven't come across anything specific yet, but creating a QML client for orbit is something I would like to do. So its something to consider with any refactoring work you might be doing

[2016-09-25 13:54] haadcode commented on #112
@r0kk3rz got it, thanks for the comments!

[2016-09-30 05:25] haadcode commented on #54
Looking at the sources in branch `devcon2` (latest dev branch), some potential modules to optimize:

**app.js**
- lodash (using full lodash atm, use individual modules)
- uportlib is huge
- lazy.js (not even used in the UI anymore?)
- highlight.js takes a lot of space

**emojis.js**
- react is included here (should not, already in app.js)
- lodash is included here (should not, already in app.js)

[2016-09-30 08:47] dignifiedquire commented on #54
@haadcode I would suggest to use https://github.com/lodash/babel-plugin-lodash to only include the lodash things you want, without having to worry about it.

[2016-10-03 13:43] haadcode opened #132 "Orbit builds should be available at dist.ipfs.io"
People should be able to download a build of Orbit from dist.ipfs.io.

- [ ] Automate build process (almost done, just need to upload the .gz files from CircleCI to dist)
- [ ] Figure out deployment to dist.ipfs.io

[2016-10-03 17:33] haadcode commented on #37
Planning to merge all of this to master sometime this week.

[2016-10-03 17:42] haadcode opened #134 "Orbit with IPFS pubsub"
Make Orbit use IPFS pubsub. This issue is to track the progress, the work mainly happens in https://github.com/haadcode/orbit-db/tree/feat/ipfs-pubsub.

[2016-10-04 11:00] haadcode commented on #132
Changed the title to not lock down the decision yet on *where* the builds will be located. Can be dist.ipfs.io, can be Github releases, can be something else.

[2016-10-04 11:04] haadcode commented on #132
[code]

Agreed @dignifiedquire, would be good to have them in Github **too**. Let's keep the discussion going for this one and see what the best solution is.

There has been requests for a dedicated website, which would also work as a nice distribution page (or linking to dist.ipfs.io).

Any input here @jbenet?

[2016-10-04 11:04] haadcode commented on #132
We should also look into tools that do CircleCI (CI) --> Web (Github/dist.ipfs.io/pinbot/whatnot) automatically. We now can build all the distribution packages for Orbit in CircleCI, but we need an automated way to "upload" the packages from CI to <dest>.

[2016-10-04 11:17] dignifiedquire commented on #132
I would look into something like this: https://github.com/electron-userland/electron-builder
Publishing artificats: https://github.com/electron-userland/electron-builder/wiki/Publishing-Artifacts

[2016-10-04 14:16] RichardLitt commented on #132
I think a dedicated website would be sweet, but after we have the other three up - multiformats, ipld, and libp2p. But definitely having it on dist and on GitHub would be a++.

[2016-10-04 16:12] christianlundkvist commented on #37
Awesome! We're also improving the attestations flow, so you'll soon be able to easily scan your Orbit key, sign it with your uport key and add that to your uport profile.

[2016-10-04 17:35] dignifiedquire opened #135 "Slack like reactions"
Slack has the ability to react to individual messages with emojis, which is a great feature to express reactions to specific messages. Github does this as well, but only with a limited set of emojis. It would be great for Orbit to have this as well.

![screen shot 2016-10-04 at 19 35 24](https://cloud.githubusercontent.com/assets/790842/19085199/c3f3ed4c-8a69-11e6-86ce-36ee63242b3d.png)
![screen s

[2016-10-05 14:46] #100 closed

[2016-10-05 14:46] #37 closed

[2016-10-05 14:46] #134 closed

[2016-10-05 14:51] haadcode opened #139 "It should be possible to "connect to peer" in Swarm view"
It would be great to be able to "call" a peer in the swarm view. Basically, run `ipfs swarm connect <peer>` within Orbit.

[2016-10-05 14:52] haadcode opened #140 "See my IPFS ID in Swarm view"
It would be great to be able to see my IPFS daemon peer ID in the swarm view.

[2016-10-05 14:55] haadcode opened #141 "Filter(s) in Swarm view"
It would be great to be able to filter the list of peers in the swarm view. A simple input field and match should do.

Eg. I input "10.5." and the list displays only peers whose addr contains "10.5.".

[2016-10-05 15:32] haadcode commented on #135
Definitely, would love to have this in Orbit! If anyone wants to work on it, ping me and I can get you started.

[2016-10-05 15:35] haadcode commented on #45
Closing in favor of #112

[2016-10-05 15:35] #45 closed

[2016-10-08 19:47] kobigurk commented on #67
Funny, I thought the same thing. I created this prototype about two weeks ago: https://gist.github.com/kobigurk/0e0f61faa8031c77198b37bd995d6eb3
It's nowhere near complete, but it does the job of a simple relay.

[2016-10-08 23:03] mateon1 opened #144 "Electron fails to start on Windows."
Even if the build issue due to `go-ipfs-dep` on Windows is fixed, a new issue appears.
When running `npm start`:

[code]

There is nothing interesting in `npm-debug.log`.

[2016-10-09 12:44] haadcode commented on #144
@mateon1 thank you very much for reporting the issue! I'll work to pull in the latest version of Electron that you referenced. Can you confirm that that 1.4.3 fixes the issue for you?

We haven't done any work on Windows yet, so anything may come across is uncharted territory. Would you be interested in trying to fix those issues? Regardless, much appreciate the bug report.

[2016-10-09 13:42] mateon1 commented on #144
@haadcode Yes, I tested the install updating Electron to 1.4.3, and everything seemed to install correctly (after `npm link`-ing packages depending on `go-ipfs-dep` with the Windows fix).

Now, my Windows machine is a Frankenstein's monster with GNU tools available on the path (like `rm`, which some post-install scripts seem to use), and properly interpreting .sh scripts (which are also used as po

[2016-10-09 14:06] haadcode commented on #144
Great to hear! I'll make sure to pull the new version in as soon as I get the time to do it.

Re. those shell scripts, ideally we shouldn't use any shell scripts in the development environment (due to the reason you laid out above). The scripts were created to quickly get all the different custom versions of `ipfsd-ctl`, `js-ipfs-api`, `go-ipfs-dep` etc. to work together due to version conflicts w

[2016-10-10 14:17] haadcode opened #145 "Namespace the channels"
At the moment the channels in orbit are plaintext pubsub topic. We should namespace the channels, eg /orbit.chat/<channel>.

@jbenet's proposal:
"namespace the pubsub channels you use under some long hash (<orbit-hash>/devcon2) or a domain name (<orbit-domain>/devcon2)"

[2016-10-10 14:54] haadcode commented on #67
@kobigurk nice! Is this something you'd be interested to continue working and help us reach the goal of getting Orbit to work with IRC in general?

I personally would like to have work done on this in the next three months and was wondering if you'd be willing to participate and to what capacity?

[2016-10-10 15:00] haadcode opened #146 "Have a basic website for Orbit"
We should have a simple landing page for Orbit from which people can download client builds and find more information (links to Github, etc.)

[2016-10-10 15:07] RichardLitt commented on #146
Agreed. We should also grab a domain for this. It can be something like dist.ipfs.io, but just for Orbit.

[2016-10-10 15:12] haadcode commented on #144
@mateon1 pushed Electron 1.4.3 dep to master.

[2016-10-10 16:07] theobat opened #147 "Multiple connections can use the same login"
I'm not sure this is an actual issue @haadcode and if it's well known one or an expected behavior please close this. **I have been able to connect with the same login on two different devices in the same LAN on the same channel**. While I understand why this could be authorized and why it's not inherently a problem it essentially means you can't tell who is who...

[2016-10-10 17:42] jbenet commented on #24
these should be packaged directly through ipfs-- there should be a bundle of assets that ships with orbit-- similar to the readme files that ship with go-ipfs

[2016-10-10 18:06] haadcode opened #148 "Q4/2016 Planning"
In this week's IPFS weekly call we discussed about the priorities for Orbit for the next months, Q4/2016, so from October to end of the year.

Notes are here https://public.etherpad-mozilla.org/p/ipfs-oct-10-orbit.

If you would like to discuss more on any of the points, add or share your ideas, please jump in here and raise your voice.

[2016-10-10 18:18] haadcode commented on #147
@theobat you're correct, this is possible atm. We don't have a great solution for "identity" yet and basically how it works is that while you see the same name, they actually use different keys to sign the messages. This is obviously not ideal, as there's no way to have unique names, we can only have unique keys.

If you click on the user name when you have a channel open, you see the "user profil

[2016-10-10 18:18] haadcode commented on #147
Thanks for reporting this and opening the discussion @theobat!

[2016-10-10 18:22] haadcode opened #149 "Product Design for Orbit"
We should create a document to capture what we think Orbit should be as a product.

- Purpose / Vision
- Target audience
- Features
- User experience
  - Each component/view/screen
  - Story boards of the "onboarding" flow (first time experience)
- Technical choices and trade-offs

Etc.

[2016-10-10 21:34] VictorBjelkholm commented on #149
@haadcode I think it's important to think of all these things will contribute to the final user experience, not that user experience is a separate feature that we will be developing. The main goal with Orbit is to solve one or more problems. We have to figure out what problem that is and who the typical user is that have this problem/s. From there, we can "design" (think about, not actual pixels)

[2016-10-10 21:56] theobat commented on #147
Interesting @haadcode, thanks for your answer, a few considerations regarding this then :
- First of all, as a layperson interested in IPFS what struck me as a real success in terms of user experience in orbit was the simplicity. **I think using a simple arbitrary login is a very valuable feature and not inherently a problem. The real issue here is when you cannot tell who is who.** This is purely

[2016-10-10 22:00] theobat commented on #146
I can help for this, both regarding content and code. Humbly of course, I do not -yet- have a very deep understanding of orbit or the ipfs project in general.

[2016-10-10 22:09] theobat commented on #145
What about namespacing channels based on organizations (following the slack-like email links) ?
i.e. if you have a whatever@ipfs.com you could get access to all the /@ipfs/something channels ...

I do believe it would be interesting to keep the non name-spaced channels as well though it's an interesting feature for people without need for "private" (whatever that means) discussions

[2016-10-11 13:00] haadcode commented on #146
@theobat that would be awesome! I don't have a spec yet as to what the website should be, but gimme couple of weeks to come up with a draft that we can then iterate together. In general, I think what we need atm is just a simple landing page with screenshots and links to Github and to download the build, nothing super fancy. Sound good?

[2016-10-11 13:29] haadcode commented on #147
Thanks! This has been the goal since day one and will continue to be the defining design factor for Orbit: simplicity. It does come with trade-offs, but it's something to aim for in everything we do in Orbit.

Right now, we don't know who connects. And I'd be very hesitant to track that on a global level as it makes Orbit "less private" in a way. Does that make sense?

IPNS could be used for the u

[2016-10-11 13:34] VictorBjelkholm commented on #147
What I've done in the past is to have the peer id resolve to a json file with the profile of the user. Username could be included there.

:+1:

[2016-10-11 14:31] haadcode commented on #147
This would limit it to a specific IPFS node, right? So essentially, one user profile per one device? I don't we should limit that, but try to find something that works in a way that the user can use the same profile from any device.

[2016-10-11 15:39] VictorBjelkholm commented on #147
At the moment yes but in the future it's planned to be able to have many identities (based on one root one) in IPFS per node, not limited as it is right now.

[2016-10-11 15:42] haadcode commented on #145
@theobat absolutely! This is the idea of namespacing is to be able to limit access. How exactly that happens, no idea :)

Email could be one. Another could be some key-based system. Another could be a "fully managed" solution with blockchain where the organization controls the access.

Agreed.

[2016-10-11 15:43] theobat commented on #147
That makes perfect sense. But if I rephrased my initial question it would be: what is the **purpose** of the username in orbit ?

- Should it be linked to the identification process of a user (which seems to be the case right now, but not completely) ?
- Should it be a pure optional and free of constraints field defined in user profiles such as any other information a user wants to specify (like e

[2016-10-12 14:59] VictorBjelkholm commented on #126
I'm thinking that using bots from the outside (meaning not built in into Orbit) might not be the best idea. I would love a solution where we can make Orbit to be good (including caching of messages) without having to run bots somewhere as well.

One solution could be to have users in the same room, helps pin each others messages by default (which could be turned off in settings)

[2016-10-12 15:34] VictorBjelkholm opened #153 "loosing focus from username field in login makes user unable to login"
If you click somewhere in the login window, focus is lost from the input field and then you cannot get focus back to the username and successfully login

[2016-10-12 15:42] lgierth opened #154 "Reproducible builds"
I see that orbit is moving to Circle CI automatically publishing release artifacts. Are builds reproducible, or is there any other way to establish trust with these builds?

[2016-10-12 15:57] haadcode commented on #126
This happens at the moment, automatically because IPFS.

I'm not aware of a solution that can make this easy without bots. Orbit *can* run without bots, it's more that the bots (cachers or otherwise) *enhance* the network.

[2016-10-12 15:59] haadcode commented on #154
Right now they're not. Ideas how to do this, ideally with CircleCI, would be highly appreciated @lgierth.

[2016-10-12 16:02] lgierth commented on #154
My implicit concern is that we should not advertise releases that were built on untrusted third-party machines without a way of verifying their integrity

[2016-10-12 17:53] VictorBjelkholm commented on #154
:+1: I think it's something we can have a chat about when it comes to general artifacts produced by IPFS projects. Would be good to have a process on how we can do the builds and how to verify them.

[2016-10-13 15:17] haadcode opened #155 "Right aligned usernames"
Try out if right-aligned usernames look and feel nice. Put the feature behind a flag in settings.

from @whyrusleeping

[2016-10-16 16:48] kobigurk commented on #67
@haadcode this is appealing, but I'm not sure I can commit to that right away. I'll update you!

[2016-10-17 22:27] r0kk3rz commented on #149
I have a bit of a grander vision, of which orbit (and orbit-db) is a small but important part. Whilst technologically Orbit is quite cool, ultimately I don't think that simply being 'decentralised/distributed' is really that much of a selling point, so for eg. creating Slack but distributed, is probably not going to see a lot of use.

Instead I think there is benefit to keeping things small, effec

[2016-10-18 08:37] haadcode commented on #149
Spot on @r0kk3rz on all your points! Exactly what I've been thinking too. Perhaps, some day, Slack will use orbit as its communication and/or "backend" tech :)

By not trying to make it a Slack clone, we also give ourselves a lot more freedom to experiment with the UIs and communication models as we don't have to compete head-to-head on product (frontend) level.

[2016-10-18 11:34] shamb0t commented on #61
I can work on this c:

[2016-10-18 12:27] haadcode commented on #61
Cool @shamb0t! Let me know if I can help you get started with things like, where to put the code, what data models (which orbit-db database) to use, how to hook up things in the UI, etc.

Gonna assign planned status to this. @shamb0t when you actually start working on it, could you move the card to "In Progress" in https://waffle.io/haadcode/orbit (or just assign the label here)?

[2016-10-18 12:31] shamb0t commented on #61
@haadcode sure thing, sounds good!

[2016-10-19 06:35] haadcode commented on #132
First step for this goal is to make what we currently have for dist builds available in dist.ipfs.io. @whyrusleeping is providing help for this.

[2016-10-19 06:39] haadcode opened #157 "Content for Orbit Website"
This is an issue to track writing the content for Orbit's website.

FYI @dignifiedquire

[2016-10-19 08:43] haadcode commented on #144
Adding this issue to a milestone for the next quarter. The goal is to make Orbit work on Windows too.

[2016-10-19 08:44] haadcode opened #158 "Windows distribution build"
We should have a distribution build for Windows version of Orbit.

[2016-10-19 08:53] haadcode commented on #22
This was fixed by @jihdeh in https://github.com/haadcode/orbit/pull/156

[2016-10-19 08:53] #22 closed

[2016-10-19 08:59] haadcode commented on #123
Depends on https://github.com/haadcode/ipfs-log/issues/4

[2016-10-19 09:17] haadcode opened #159 "Make Orbit work on Windows"
Orbit (Electron app) should run on Windows.

Ref #158
Ref #144

[2016-10-19 09:19] haadcode opened #160 "One button feedback"
The UI should have a very quick way to send feedback to the developers.

Ideally there's a button always visible in the UI which by clicking opens a form to enter feedback. This should be completely anonymous (but can leave a name if wanted).

How exactly to do this is TBD.

[2016-10-19 09:21] haadcode opened #161 "Use go-ipfs 0.4.5 for the Electron app"
The Electron app should use go-ipfs 0.4.5 which includes the pubsub API.

**go-ipfs 0.4.5 is due to release in about a month**

[2016-10-19 09:22] haadcode opened #162 "Get a domain for Orbit"
Let's get a domain for Orbit. In the future we'll put Orbit's website on that domain.

@lgierth you said you had acquired some domains already, can you remind us again which one(s)?

[2016-10-19 09:30] haadcode opened #163 "Namespace Orbit's data directory per user"
Currently Orbit saves all its data to one global directory. It would be better if the data directory was namespace per user.

Instead of:
`~/Library/Application Support/orbit/`

Do:
`~/Library/Application Support/orbit/<userId>/`

This requires changes to the startup sequence in index.js and in the UI so that we first display the login window, user enters their name, and after that we boot up the

[2016-10-19 09:30] haadcode opened #164 "Auto-updates for the Electron app"
The Electron app should have auto-updates.

[2016-10-19 09:32] haadcode opened #165 "Web app should have a link to download the desktop app"
In the web app, there should be a visible link to download the desktop app.

This could be a banner at the top of the screen and if so, the user should be able to dismiss (hide) the banner.

When clicked, a link to the distributions web site will be opened *in a new tab*.

[2016-10-19 09:35] haadcode opened #166 "Ability to configure the IPFS daemon in the UI"
The user should be able to set the IPFS data folder, API/gateway/daemon addresses, etc. directly in the UI.

Proposal here is to add a button to the login screen which then opens a configuration screen where the user can change the configuration details. By default, the values should be the default values Orbit sets for the daemon.

[2016-10-19 09:36] haadcode opened #167 "Make sure that two instances of the electron can run simultaneously"
It should be possible to run two instances of the Orbit Electron app simultaneously.

This may or may not be the case atm, so we need to make sure that this is possible.

[2016-10-19 09:39] haadcode commented on #162
We have `orbit.chat` according to @lgierth. We're good.

[2016-10-19 09:39] #162 closed

[2016-10-19 10:05] haadcode opened #168 "Cacher bot"
We should deploy cacher bot(s) to the orbit network to make sure the messages are always reachable and persisted in the network.

The bot should run on a public IP (ie. not behind a firewall or NAT) so that it's reachable by everyone.

The user should be able to summon (invite) the bot to a channel to make sure it's persisted.

Long-term solution should include "load balancing" so that there are m

[2016-10-19 10:07] haadcode commented on #146
After some discussions during our roadmap planning, the website is defined to contain:
  - "about page"
  - links to code
  - links to download
  - link to web version
  - links to ipfs
  - USPs
  - screenshots + video
  - links to orbit-db
  - terms of service
  - "splash"
  - feedback button
  - list of features
  - how does it work
  - link to FAQ
  - "made by protocol labs" label
  - design fo

[2016-10-19 10:10] haadcode opened #169 "Dev bot"
We should deploy a bot that says quotes on an interval on #orbit-dev-test channel. This is to make it easier to check connectivity and generally verify that Orbit is working.

[2016-10-19 10:17] haadcode commented on #148
The planning has been completed and the resulting roadmap is here https://github.com/haadcode/orbit/blob/master/ROADMAP.md#orbit---roadmap.

[2016-10-19 10:17] #148 closed

[2016-10-19 10:22] theobat commented on #146
@haadcode, sounds good.
Is there a tech stack defined for the website already ? (I suppose react and aegir structure from @dignifiedquire will be used but any other requirements ?). I'm down for participating but I probably need a draft or directions to make one so that I'm not doing things in the wrong way.

[2016-10-19 10:37] haadcode commented on #146
@theobat not sure how this should be implemented tech-wise. @dignifiedquire what's the plan for the other websites we're doing? Simple static sites deployed via IPFS or something more complex?

[2016-10-19 10:39] haadcode commented on #146
This goal depends on m writing the content for the website (https://github.com/haadcode/orbit/issues/157) which is not scheduled until end of the year. Before that, we also need to finish the product design as that will be the basis for the website content (https://github.com/haadcode/orbit/issues/149).

[2016-10-19 12:57] RichardLitt commented on #146
Regarding the tech stack, I think that @victorbjelkholm was thinking of making a document outlining how sites should be made. I've been using Hugo.

[2016-10-19 15:52] VictorBjelkholm commented on #160
Maybe a first iteration could be to just open up the new issue link on Github, rather than coding a form and the form logic? (https://github.com/haadcode/orbit/issues/new)

[2016-10-19 16:19] haadcode commented on #160
I believe you have to be registered and signed in to Github in order to file a new issue. The solution, however simple, needs to work without any account/registration.

[2016-10-23 14:33] theobat opened #173 "pnpm installation of orbit not working"
I cannot find **any** version of ipfs supporting the  `--enable-pubsub-experiment` flag, still trying to find out what's going on.
- In orbit :

[code]
- Directly installed pre-packaged binray ipfs version :

[code]

~~It seems orbit uses an old version of ipfs provided by the `go-ipfs` npm package. This actually breaks the current version of orbit as the flag `--enable-pubsub-experiment` was adde

[2016-10-23 15:47] haadcode commented on #173
Pubsub is enabled if you build go-ipfs from master, or you can download it (somewhat older version) from here: https://dist.ipfs.io/go-ipfs/floodsub-2. Floodsub-2 is what haadcode/go-ipfs-dep package uses.

To run it, you need to *start the daemon with the flag*:  `ipfs daemon --enable-pubsub-experiment`. That should do it.

Let me know if you're still stuck.

[2016-10-23 16:34] theobat commented on #173
thanks @haadcode, my bad i forgot the daemon in the above copypaste (I did run it with and without though the problem was not on ipfs/orbit's end).

The problem resides in the way pnpm handles dependencies I guess... It works perfectly with standard npm install. From my understanding they try to resolve all the dependencies and install every version of an npm package only once in a user defined re

[2016-10-25 00:19] fiatjaf commented on #21
Easy? This is the hardest problem of the world.

[2016-10-25 00:24] fiatjaf commented on #21
I know zero about orbit architecture, but since this issue needs some action, let me at least make a silly suggestion: why not add the hash of the current last message to the message we're about to post, this way the order problem is solved -- no more messages "popping" -- and, although their timestamp could be all messed up, it is possible to be absolutely sure that some message was sent _after s

[2016-10-25 04:51] deavmi commented on #21
Eliminating outliers might be hard. One peer could still set the timestamp way off. So idk. Try the best solution to what we can come up with here.

[2016-10-25 11:27] claus commented on #21
Time, Clocks, and the Ordering of Events in a Distributed System
http://amturing.acm.org/p558-lamport.pdf

Just leaving this here, he lost me somewhere on page 3 :)

[2016-10-25 11:56] haadcode commented on #21
Thanks everyone for the comments. Let me clarify what's going on here:

I opened this issue originally due to the fact that the chat messages in the UI popped in in "weird" order, ie. not according to their `ts` field in the message. While this is not desired behaviour in the UI, it's actually exactly what should happen given the underlying data structures. [ipfs-log](https://github.com/haadcode/i

[2016-10-29 21:24] theobat commented on #167
I fired 2 versions on the same machine, **it seems fine until I press enter on the second username, it freezes**
I'm trying to troubleshoot what's going on in there

[2016-10-30 06:05] haadcode commented on #167
@theobat Thanks for looking into this! I have an idea what's going on. Can you try the same but with the other daemon launched with `IPFS_PATH=/some/other/dir`? At the moment, if two instances are launched, they will both use the same IPFS data directory and I *think* this is what's causing the problems.

As for this issue, we were discussing (offline) that we should provide a configuration screen

[2016-10-30 11:23] theobat commented on #167
Yep, that fixed the problem, it's fine with n instances as long as they have different ipfs path. Now even if I implement  #166 I think it would be good to get a default path incrementing by default so that the user does not have to do it by himself, don't you think ?

[2016-10-30 11:23] theobat commented on #166
going to give this a shot

[2016-10-30 15:06] haadcode commented on #166
Fantastic! Thanks k you! Let me know if you run into any problems and I'd be glad to help.

This require to change the startup sequence so that we start the daemon AFTER the login screen, but we can worry about that after you've gotten started.

[2016-10-30 18:34] theobat commented on #153
I reproduced that, it might be related so I post this remark in there:
 Why is there a reference to the ref ```password``` in the LoginView react component... ? I can't think of any place where there is an actual password ref, isn't it a mistake for username ? it seems to be undefined all the time.
[code]

No matter what, the component is not updated on a click to the background of the login view

[2016-10-31 06:34] haadcode commented on #153
@theobat the password field is a remnant of old (obsolete) code. You can safely remove all references to passwords. There might be another ref/field called network in there, which you can safely remove too.

I'm fine with the solution above, for now, but it might become a problem as you implement the config/option button (user needs to be able to press the button). Perhaps a long-term solution wou

[2016-10-31 06:37] haadcode commented on #167
What do you mean by "default path incrementing"? Do you mean always using a unique path or something else?

[2016-10-31 08:24] theobat commented on #167
I mean a unique path per electron instances which can be overridden by the user (with the ui of #166) (we don't need it to be unique at any run, a uuid would be overkill in my opinion)

[2016-10-31 08:41] theobat commented on #153
Yes seems like a better idea (I think clicking on the input area should give the focus back though)

[2016-11-02 13:50] haadcode commented on #173
Closing as requested.

[2016-11-02 13:50] #173 closed

[2016-11-02 14:47] haadcode commented on #54
With the latest updates to the build, we're looking at 2.1 Mb minified, not gzipped. There's still couple of low hanging fruits that I didn't fix yet, eg. not using full lodash lib.

[2016-11-02 15:09] theobat commented on #166
Just a few architecture questions to follow up :
- First of all, the default config object for the ipfs daemon has to move out of its [current location](https://github.com/haadcode/orbit/blob/master/index.js#L41), either a dedicated file (but where) or in the Login view as a const attribute. Perhaps echoing [this comment](https://github.com/haadcode/orbit/blob/master/index.js#L19) we could have a

[2016-11-03 07:30] haadcode commented on #166
Probably should put it in the UI as a const (or json file which webpack can pick up).

Use what makes sense. There's quite a few changes to the startup sequence with this, so I'm not certain how it should work.

How I see the sequence would work is: 1) open electron window and load the app (main.js), currently opens "loading.html" first,  2) app checks a global/window variable "areWeInElectron" an

[2016-11-03 07:38] haadcode commented on #166
Another thought: we should maybe consider putting the daemon related things to its own Store. This way there's one place where we manage the state of the daemon (rest of the app only need to know if we have a daemon or not), and we can for example re-start the daemon in case it crashes.

[2016-11-03 07:38] haadcode commented on #167
:+1:

[2016-11-03 07:39] haadcode commented on #55
This is being worked on as part of #166. cc @theobat.

[2016-11-03 16:11] theobat commented on #166
I am not sure I understand this part of your post :

I thought the *running instance of ipfs* was the ipfs daemon itself you seem to imply we can get an ipfs instance without its daemon ?
Also, Is this specifically related to the case when we already have an ipfs daemon running in the background manually fired or for some other reason) ? (this is just for a better understanding)
If that's the case

[2016-11-04 22:05] theobat commented on #166
Actually I'm having a hard time at moving away the ipfsDaemons settings as they are relying on two path that are computed using electron app dependency. I don't see how it's possible to get these path in the browser scenario.  And I think it's actually preventing ipfs-daemon to interface with js-ipfs but I could be wrong, I'm gonna check all that.
If you have any pointer so that I can get a better

[2016-11-05 07:17] haadcode commented on #166
@theobat you're right `AppDataDir` is not used anymore and can be cut. js-ipfs daemon uses IndexedDB in the browser to store the blocks and path to that dir can be given as an argument to the constructor. We're in process to unify both js-ipfs-api and js-ipfs and make it really easy to start the daemon: https://github.com/ipfs/js-ipfs/issues/556#issuecomment-257121112.

What we could do is that we

[2016-11-06 22:43] theobat commented on #166
Ok I get it *now*, the default configs have to go from the main process (because app variable is needed initially) to the ui (because people have to know what they change) and then this (possibly modified with the ui) object goes back to the main process (from renderer) to start the daemon with electron (in case it's a native deamon that has to be started otherwise the IpfsDaemonStore fire the js-

[2016-11-07 07:17] haadcode commented on #166
Great to hear!

Not sure what you mean by pointless? :)

[2016-11-07 07:22] theobat commented on #166
I mean 'not used'

Le 7 nov. 2016 8:17 AM, "Haad" <notifications@github.com> a écrit :

[2016-11-07 07:43] haadcode commented on #166
You mean if there's options/config params that are specific to either js-ipfs or go-ipfs?

There's one that I can think of: `Signal Server Address` for js-ipfs (this is not documented anywhere atm., it's a url that we should allow the user to change) that is not needed in go-ipfs.

[2016-11-07 14:17] VictorBjelkholm commented on #146
@haadcode yeah, as richard mentioned, ipld, libp2p and multiformats are planned to continue/migrate to hugo to be fully static with all assets and deployed/served via IPFS, DNS updated with dnslink-deploy.

[2016-11-07 14:57] milesalex commented on #149
Product designer here trying to see how I can get involved! This seems like a perfect place to start :)

[2016-11-07 14:59] milesalex commented on #146
Need design and dev help? Would love to get involved!

[2016-11-10 06:24] RichardLitt commented on #146
@milesalex Awesome, thanks! Keep watching this - we'll be working on the website soon. @VictorBjelkholm will be the pointman it looks like.

[2016-11-10 11:32] haadcode commented on #48
This work is now merged to a larger goal here: https://github.com/haadcode/orbit/issues/166. Closing this one.

[2016-11-10 11:32] #48 closed

[2016-11-10 14:00] VictorBjelkholm commented on #146
@RichardLitt don't think anything have been decided about that, but if it's fine for @haadcode, it would make sense for me to do that.

[2016-11-10 14:25] haadcode commented on #146
@VictorBjelkholm so if I understand you correctly, you'll be making the IPLD/multiformats/etc website with Hugo some time soon?

What would make sense here is, since we're not in a rush for Orbit website, that you work out the implementation for the other website (which I assume will produce a common way to implement the websites) and once we have one or more of them ready, the volunteers here can

[2016-11-10 14:53] #49 closed

[2016-11-10 15:48] VictorBjelkholm commented on #146
@haadcode yeah, that's what I'm currently working on.

Yeah, that sounds like a great idea to me :)

[2016-11-11 11:22] haadcode commented on #149
@milesalex help would be highly appreciated! Follow this issue.

What needs to happen here first is for me to dump my vision into a document so that we can all discuss and iterate it. I'm planning on doing that (probably) at the beginning of December. Let me know if this is too far away and you'd need to get this work started earlier and I can try to fit that into to my TODOs perhaps a little earl

[2016-11-22 10:21] haadcode commented on #34
This will become available as part of ipfs-daemon: https://github.com/haadcode/ipfs-daemon#new-ipfsdaemonoptions.

There's some work required on the UI side but it'll be available in a configuration screen after https://github.com/haadcode/orbit/pull/184 has been merged.

[2016-11-26 07:17] whyrusleeping opened #191 "Failed to run, module load errors"
[code]

At commit 9f12c7499841e740373536fcb036936eeca108d0 after a fresh npm install

[2016-12-01 13:16] haadcode opened #192 "Use IPFS 0.4.5"
This is issue is to track all the tasks related to using go-ipfs 0.4.5 in Orbit.

As of today, 0.4.5 is at pre1, meaning not even a release candidate yet, so things might break until 0.4.5 is officially released.

[2016-12-02 08:39] theobat commented on #159
I'd like to try to do something to get orbit on windows. People I'd like to use orbit with use windows. But perhaps we should wait for #192 to complete before I dive into this... I'm not sure what the shell files are doing right now and whether the go-ipfs dist in orbit is working for windows or not. I'll try to get a better understanding.

[2016-12-02 09:25] haadcode commented on #159
@theobat you could give it a try and try to run it on windows from master. In theory it should work but I've never tested it.

[2016-12-02 10:29] theobat commented on #159
I tried a few weeks ago, only problem was the shell scripts are not executable on traditional windows machines:
https://github.com/haadcode/orbit/tree/master/scripts

Perhaps we could try to translate these in node scripts ?

[2016-12-02 11:05] haadcode commented on #159
The shell scripts are not run anymore (need to remove from the repo). I updated everything today including possible working version for Windows.

[2016-12-02 16:54] haadcode opened #193 "Cleanly shut down daemon"
Currently the daemon doesn't shut down cleanly due to:
- Open object.get requests when killing the daemon
- Open pubsub subscscriptions

This is due to js-ipfs-spi being on the main process and we don't "reload" it when shutting down the daemon.

A good solution here would be to fix the issues directly in js-ipfs-api so that all state is per instance (and doesn't leak through like it does now).

[2016-12-02 18:35] #7 closed

[2016-12-02 18:35] #163 closed

[2016-12-02 18:35] #166 closed

[2016-12-02 18:35] #167 closed

[2016-12-02 18:45] haadcode commented on #191
@whyrusleeping can you do a fresh clone from master and run `make` and follow the instructions from thereon? I think I've fixed the issues.

Check out the cool new configuration screen (in the login screen) where you can customize the IPFS instance that orbit runs :)

[2016-12-03 00:38] whyrusleeping commented on #191
@haadcode cool, looks like thats working now :)

Only problem now is that i'm seeing zero peers connected...

[2016-12-03 07:32] haadcode opened #195 "The UI shows 0 peers connected when there are peers connected"
The UI currently always shows 0 peers in the swarm view. This is due to new version of ipfs-api changing the api and it got broken.

There's a line in Orbit/getSwarmPeers where the result from ipfs.swarm.peers need to be parsed according to the new api.

[2016-12-03 07:33] haadcode commented on #191
Great to hear! I'm gonna close this one then.

The 0 peers is a known issue, opened an issue to make sure it gets fixed: https://github.com/haadcode/orbit/issues/195

[2016-12-03 07:33] #191 closed

[2016-12-03 07:37] haadcode opened #196 ""error: socket hung up", "Error: ECONNRESET""
Orbit currently throws errors seemingly random. "error: socket hung up", "Error: ECONNRESET" are shown in the UI's console (devtools in Electron).

These are caused by "too many files open" error in go-ipfs. @whyrusleeping is a aware of the bug and will hopefully get it fixed for 0.4.5.

Current workaround is to run the go-ipfs daemon with`IPFS_FD_MAX` set to 4096, https://github.com/haadcode/orbi

[2016-12-04 09:26] theobat commented on #153
This is fixed (changed z-index on input field), but the "planets" in the login animation have disappeared.

[2016-12-04 12:54] haadcode commented on #153
I can fix the "planets" quickly.

[2016-12-04 13:06] jbenet commented on #166
![](https://media.giphy.com/media/awpqNsKuFtXI4/giphy.gif)

[2016-12-04 14:14] haadcode commented on #192
What is needed for this goals to be completed:
- [ ] Orbit uses go-ipfs 0.4.5, bundled and brought in by ipfs/go-ipfs-dep
- [ ] Orbit uses pubsub from ipfs/js-ipfs-api
- [ ] All features work as before

[2016-12-04 14:24] haadcode commented on #192
Blocked by:
- using a fork @haad/go-ipfs-dep as an interim solution to pull in all the dependencies
- @haad/go-ipfs-dep refactoring PR needs to be updated (TODO: link)
- @haad/go-ipfs-dep refactoring PR needs to be merged to ipfs/go-ipfs-dep (TODO: link)
- go-ipfs 0.4.5 is pre1, ie. not released yet
- ipfs/go-ipfs-dep (version with 0.4.5) needs to be published to npm
- open bugs in go-ipfs 0.4.5 (

[2016-12-04 14:43] haadcode opened #197 "Web version of Orbit"
This issue is to track the overall goal of getting the web version of Orbit work again. Associated tasks and features are tracked in individual issues under the milestone "Web version of Orbit".

[2016-12-04 14:48] haadcode commented on #161
Closing in favor of #192

[2016-12-04 14:48] #161 closed

[2016-12-04 14:57] haadcode commented on #192
With the latest merges, Orbit now uses go-ipfs 0.4.5-pre1. It's an early version and there are issues. Things may be broken leading up to the release of 0.4.5.

[2016-12-04 14:57] haadcode commented on #192
That said, it's working :)

[2016-12-04 15:10] haadcode opened #198 "Display "connectedness" status"
It's currently really hard to know why things are not working as expected.

It's also really hard to get a feeling of being "connected" in Orbit atm due to no user feedback.

One way to narrow down the possibilities, but to add a valuable user feedback, is to add an element to the UI that display how "connected" you are currently. By "connected" I mean *to how many peers are you connected to atm*

[2016-12-04 20:35] theobat commented on #159
so first of all we get this :
[code]

Which is *minor* cause removing the log= and the ipfs option solve the problem. But then, we get a slightly different issue that I remember having solved, when we try to connect with a username I get this error:
[code]
I'm pretty sure I was creating the directory if it did not exist you think it's not the app's responsibility to do such thing ?

After creating

[2016-12-05 06:56] haadcode commented on #159
Thanks for the investigations. It seems env variables indeed are a problem in Windows :/ Need to find a good solution for that.

Re. the directory, IPFS *should* create the data directory by itself. I might've touched the orbit data dir creation code as I figured it's not needed, but perhaps it is after all. If I did, feel free to put it back in, it was removed shortsightedly.

[2016-12-06 17:56] haadcode opened #201 "Files are broken"
File uploads don't work nor does file previews. Need to investigate why. Possibly and API change.

[2016-12-06 18:24] haadcode commented on #201
Fix in feat/0.4.5 branch, mostly. Videos don't work in the browser version on Chrome, but Firefox works fine. The error on Chrome is this https://github.com/feross/webtorrent/issues/783, https://bugs.chromium.org/p/chromium/issues/detail?id=379206.

Need to investigate more. It used to work...

[2016-12-06 21:00] rsynnest commented on #21
A consensus algorithm would be an interesting way of handling this, though I'm not sure how accurate you'll be able to get. I suppose drift on the order of milliseconds is fine as long as the message order is preserved. I know NTP already supports peer-to-peer synchronization, and I believe some thing similar can be implemented in Javascript. You might be able to build something like https://githu

[2016-12-07 07:48] rsynnest opened #202 "Runtime Error"
On a fresh install today I am unable to get past the login screen (when I hit Enter to login the app crashes and throws npm errors)

`Debian 3.16.0-4-amd64`
`ipfs 0.4.5-dev` (built from go-ipfs master, `ipfs daemon --enable-pubsub-experiment` works fine when run from command line)
`npm@3.10.9`
`node@v7.2.0` (also tried v6.9.2 and v6.0.0)

Here's my npm debug log: [npm-debug.txt](https://github.com

[2016-12-07 16:10] #55 closed

[2016-12-07 16:12] haadcode commented on #55
This has been achieved. The startup time was massively reduced with the new startup sequence made by @theobat. We now first load the UI, ask for credentials and only after then we start the IPFS daemon.

This can be further reduced in go-ipfs (iiuc from @whyrusleeping and @jbenet) by boostrapping ipfs after starting the daemon (in go-ipfs), so hopefully in the future we have something instant for

[2016-12-07 16:21] #46 closed

[2016-12-07 16:21] #125 closed

[2016-12-07 16:21] #195 closed

[2016-12-07 16:21] #201 closed

[2016-12-07 16:36] haadcode commented on #125
This is now not only fixed but I made it a thing:
![screen shot 2016-12-07 at 15 40 24](https://cloud.githubusercontent.com/assets/7499694/20976628/613e11ca-bca3-11e6-8ee6-a63f4edca235.png)

Here you see a directory opened and if it contains index.html, Orbit will display the website in an iframe. In this case, we're opening one of the examples for ipfs-daemon (top) and start and js-ipfs instance

[2016-12-07 16:39] theobat commented on #202
I can reproduce this:
[code]
links to this:
https://github.com/haadcode/orbit/blob/master/index.js#L130

@haadcode, has the IpfsDaemon interface changed ? Will try to fix it but diving into IpfsDaemon object asap
Thanks for the report @rsynnest

[2016-12-07 16:49] haadcode commented on #197
There's now almost working version of the browser version in master. Missing pubsub so you can't actually talk to anyone (you're basically offline), but you should be able to do what you would normally do (send messages, upload / view files and directories etc).

[2016-12-07 16:56] haadcode commented on #202
Thanks for reporting this @rsynnest. Not sure what's going on here, the logs don't tell much. Could you run it with `LOG=debug npm run electron` and drop the output here?

@theobat This sounds like dependency conflict. The interface for IpfsDaemon was indeed changed, see https://github.com/haadcode/ipfs-daemon. So what I take from this report is that there's an old version of ipfs-daemon there and

[2016-12-07 17:01] haadcode opened #204 "Planets missing in Electron"
The little planets orbiting the rings in the Orbit logo don't appear in Electron. They appear when run in Chrome.

Need to investigate why.

@theobat FYI

[2016-12-07 19:01] rsynnest commented on #202
My mistake, I thought that the logfile would be more verbose than stdout. I've pasted stdout logs below (after running `LOG=debug npm run electron`).
The core issue seems to be:
[code]
So, looks like an error in dynamic linking? I'm running `glibc 2.19-18+deb8u6` , not sure if this is an issue in ipfs or what. Full stdout error logs below:

[code]

[2016-12-08 07:29] haadcode commented on #202
Thank you @rsynnest, this helps a lot! :)

That said, I have no idea what this is about. Seems like it happens when starting the IPFS daemon. I see you're using node 7, could you give it a try with 6 and see if it occurs with that too?

@whyrusleeping does that tell you anything? @dignifiedquire could this be related to compiling crypto on Linux?

[2016-12-08 07:42] rsynnest commented on #202
@haadcode I tried node 6 before since that's what's explicitly listed in the README. Both node 6.0.0 and node 6.9.2 give the exact same errors as pasted above. I'm also able to reproduce this on another machine that is also running Debian.

[2016-12-08 08:08] haadcode commented on #202
ok. thanks for trying that. will need to investigate.

[2016-12-08 16:18] haadcode commented on #204
This is NOT an Electron bug. The planets go missing only when the theme !== 'Purple' so I think this is to due with the hue-rotation and/or the planets' color format. Need to investigate more.

[2016-12-09 14:51] #204 closed

[2016-12-09 14:51] haadcode commented on #204
Found the planets!

[2016-12-09 16:38] theobat commented on #204
Nice!

[2016-12-11 18:57] daviddias opened #206 "How can I test orbit with latest js-ipfs?"

[2016-12-12 01:12] rsynnest commented on #202
Small update:
I am able to install and run Orbit on Arch Linux. I installed everything using the exact same methods (installed go-ipfs from source). Here are some version numbers for various tools that might affect build:

Arch
`go 1.7.4`
`gcc 6.2.1`
`glibc 2.24`
`ipfs 0.4.5-pre1`

Debian
`go 1.7.4`
`gcc 4.9.2`
`glibc 2.19`
`ipfs v0.4.5-dev`

Regarding the ipfs version, I'm unsure if this is just

[2016-12-12 14:19] haadcode commented on #197
Currently blocked by Bitswap issues: https://github.com/ipfs/js-ipfs/pull/644#issuecomment-266441207. Pubsub is almost there, soon done and not blocking the web version of Orbit anymore as far as I can tell.

[2016-12-12 14:22] haadcode commented on #197
Depends on https://github.com/ipfs/js-ipfs/pull/644 (Pubsub in js-ipfs)

[2016-12-13 02:26] diasdavid opened #207 "How to run this with js-ipfs on the browser"
@haadcode, I followed your instructions and after managing ipfs-daemon to install (through git clone and npm link), I got blocked at `npm run build:app`, which is a script that doesn't exist.

![image](https://cloud.githubusercontent.com/assets/1211152/21125112/10ff1198-c098-11e6-9896-53663fb4f1bf.png)

I don't find the script to spawn orbit in the browser, looked throughout the other npm scrips a

[2016-12-13 02:29] diasdavid opened #208 "File Descriptors limit"
It seems that orbit relies in increasing the FD limit for dev builds, this is something that won't happen by default for users installing the electron app, there must be another way to cope with the limitation

[2016-12-13 02:30] diasdavid commented on #207
The readme on master mentions:

![image](https://cloud.githubusercontent.com/assets/1211152/21125240/f024d5a6-c098-11e6-9986-262163968a7b.png)

Why was this removed?

[2016-12-13 02:32] diasdavid commented on #207
Oh, I see now, there is an app within an app at the `client folder`

[2016-12-13 02:32] #207 closed

[2016-12-13 13:23] dignifiedquire commented on #24
@haadcode you are currently using the `http` version for jsdelivr, but it is also available on https:

- http://cdn.jsdelivr.net/emojione/assets/svg/1F642.svg
- https://cdn.jsdelivr.net/emojione/assets/svg/1F642.svg

that would at least make chrome less sad about insecure content

[2016-12-13 14:30] haadcode commented on #24
Thank @dignifiedquire! This was done here: https://github.com/haadcode/orbit/commit/3a4fc96ce17b28824ce7a959424af50d6933c3fc. It fixes emojis in orbit-inside-orbit case where they didn't load previously.

👍

Next: cache them locally or load from IPFS.

[2016-12-13 15:55] theobat commented on #153
I'm closing this, it has been fixed

[2016-12-13 15:55] #153 closed

[2016-12-13 16:44] haadcode commented on #208
Passing the env variable now to the electron app: https://github.com/haadcode/orbit/blob/master/index.js#L19. This will be a temp fix until go-ipfs has fixed the "too many files open" bug.

[2016-12-13 16:44] #208 closed

[2016-12-13 18:29] haadcode opened #210 "Orbit browser version problems"
Report bugs with the browser version here.

[2016-12-13 18:30] dignifiedquire commented on #210
Drag and drop fails:

<img width="1091" alt="screen shot 2016-12-13 at 19 26 02" src="https://cloud.githubusercontent.com/assets/790842/21153393/96f210de-c16a-11e6-9452-8a9ef6d567be.png">

No messages are being loaded:

<img width="1086" alt="screen shot 2016-12-13 at 19 28 03" src="https://cloud.githubusercontent.com/assets/790842/21153394/970bb372-c16a-11e6-9898-27a7d14c2408.png">

[2016-12-13 18:32] haadcode commented on #210
<img width="766" alt="screen shot 2016-12-13 at 19 30 51" src="https://cloud.githubusercontent.com/assets/7499694/21153459/dedb5b4e-c16a-11e6-8f12-106e0aa9bae1.png">

<img width="771" alt="screen shot 2016-12-13 at 19 30 56" src="https://cloud.githubusercontent.com/assets/7499694/21153461/e179d7e0-c16a-11e6-83bd-545600f66845.png">

[2016-12-13 22:43] diasdavid opened #211 "Orbit doesn't distinguish between days"
<img width="527" alt="screen shot 2016-12-13 at 14 34 36" src="https://cloud.githubusercontent.com/assets/1211152/21162479/6319efde-c142-11e6-93e5-ed23e60fd899.png">

It is mixing messages from different days because the ordering is done by hour:min

[2016-12-13 22:43] diasdavid commented on #211
consider also handling timezones

[2016-12-13 22:46] diasdavid opened #212 "attaching files + drag and drop doesn't work in the browser version"
![image](https://cloud.githubusercontent.com/assets/1211152/21162552/db93fa86-c142-11e6-94a5-ac39f2d40c71.png)

[2016-12-13 23:13] theobat commented on #212
@diasdavid perhaps you should move that to #210 ?

[2016-12-13 23:16] theobat commented on #211
Links to #118

[2016-12-14 00:13] haadcode commented on #212
Fixed in https://github.com/haadcode/orbit/pull/213

[2016-12-14 00:13] #212 closed

[2016-12-14 00:33] haadcode commented on #210
One more new one:
<img width="765" alt="screen shot 2016-12-14 at 01 32 12" src="https://cloud.githubusercontent.com/assets/7499694/21165073/3e92bc76-c19d-11e6-9fff-d1a7cd56da79.png">

[2016-12-14 08:43] theobat commented on #211
So I dived a little bit into this @haadcode and I don't understand why we have two different components for messages when so little seems to differ on the input side. Shall we use some kind of argument in the props if this is just a matter of size ?
We could simplify this :
[code]

[2016-12-14 11:02] haadcode commented on #211
@theobat Yes, absolutely, this part could be refactored to much simpler. I would not put the size as a flag but wrap it in higher order components that handle only the layout.

I've been prototyping to re-write all of the channel components, something like this: https://codepen.io/anon/pen/PbBryY?editors=0010 (code https://gist.github.com/haadcode/b038ce6be019e0ef841258c168b3bd53). You can play wi

[2016-12-14 15:37] haadcode commented on #197
The web version has been merged to master and is kinda working. There's an issue for reporting bugs: https://github.com/haadcode/orbit/issues/210.

We know it's slow, and this is the first time it works again in months, so reporting bugs would be highly appreciated.

@dignifiedquire did some bitswap tweaking and optimizations and got it much faster, you can try that build here https://github.com/h

[2016-12-14 17:45] dignifiedquire commented on #210
Reload is loosing the history. Even though I had a pretty long history, after a simple reload the history is empty (same channel,  same username). The loading indicator is running though.

[2016-12-14 17:46] dignifiedquire commented on #210
![screen shot 2016-12-14 at 18 45 56](https://cloud.githubusercontent.com/assets/790842/21193742/921871e8-c22d-11e6-8331-1594ed637e3e.png)

[2016-12-14 18:01] haadcode commented on #34
This has been implemented now in Orbit. You can set it in the browser version at login screen / configuration.

Where are we with the https support @lgierth and @diasdavid?

@lgierth Wanna change the issue title to be specific about support for https or close this and open a new one to track the https support as its own goal? Either is fine by me, feel free to decide.

[2016-12-14 18:44] haadcode commented on #210
I'm also losing history on Firefox but not in chrome. @dignifiedquire can you try with both?

[2016-12-14 18:48] dignifiedquire commented on #210
will try firefox later, but definitely seeing it in chrome

[2016-12-14 19:44] dignifiedquire commented on #210
Floodsub error: https://github.com/libp2p/js-libp2p-floodsub/issues/11
<img width="1057" alt="screen shot 2016-12-14 at 16 22 07" src="https://cloud.githubusercontent.com/assets/790842/21198046/0bf9eb4e-c23e-11e6-99de-fd9cb8cf0e66.png">

[2016-12-15 05:51] diasdavid commented on #34
@lgierth if we get dns support in multiaddr, we can bypass https because then I can use https://github.com/diasdavid/webrtc-connect instead of websockets :)

[2016-12-15 13:25] dignifiedquire commented on #210
There is a new build, with `master` + this bitswap branch: https://github.com/ipfs/js-ipfs-bitswap/tree/new which makes things really nice https://ipfs.io/ipfs/QmXi4w3S3DqcbESA28yYw63MWNhfs3oUK8b8FSfxjb6N1S

Things are fast and stable even with > 5 peers now.

[2016-12-15 14:26] haadcode commented on #210
Chrome doesn't play videos but throws an error related to "SourceBuffer". No idea why as this used to work and the code hasn't been touched. Could be a Chrome bug https://bugs.chromium.org/p/chromium/issues/detail?id=651904.

Firefox plays frags_bunny.mp4 still fine :)

[2016-12-15 17:32] theobat opened #214 "User info closing button fails"
Closing user node info fails on the X button (it works if you click again on the same username though). This seems to be happening on both orbit and in the browser.
![username-info-orbit](https://cloud.githubusercontent.com/assets/8222999/21234875/c0a51594-c2f4-11e6-8b32-c814227d3f57.png)

[2016-12-15 18:30] diasdavid commented on #206
Would love to be able to make orbit, orbit-db and ipfs-log testable without too much configuration, as easy as:

[code]

[2016-12-15 18:46] dignifiedquire commented on #210
This is the relevant PR https://github.com/ipfs/js-ipfs-bitswap/pull/83

[2016-12-16 06:33] rsynnest commented on #202
Ok, so I installed gcc-6 on Debian Jessie using the Debian Stretch repositories, and then reinstalled Orbit (a simple `npm install`). Orbit now runs without erroring out. I'm not sure if the rebuild is necessary. But either way it seems users will need a minimum (and non-standard) gcc as part of the Orbit build process. I haven't dived too far into the npm dependency rabbit hole, but my best guess

[2016-12-16 09:11] haadcode commented on #202
Thank you @rsynnest for the excellent work on figuring this out! We should absolutely add it to the README. Would you like to PR it?

I suspect this is related to `ipfs` that ipfs-daemon pulls in, and most likely the new crypto and its build process. @dignifiedquire @diasdavid  we should try to reproduce this with js-ipfs or js-ipfs-api and see if it's the same result, and if so, we should make th

[2016-12-16 13:44] haadcode opened #215 "Ship Electron build with smaller disk footprint"
Currently the electron build is ~300MB! :O

There's various reasons for that, but looking at some of the biggest disk space consumers:

libp2p-* ~40MB
wrtc 11MB
typescript 21MB
ipld-resolver 5MB
ipfs-daemon 8MB
core-js 6.6MB
ipfs-api 5.8MB

And in total the node.js dependencies in node_modules are ~200MB. Crazy.

The build process calls `npm install --prodution` to exclude all dev dependencies, bu

[2016-12-16 14:52] VictorBjelkholm commented on #210
Not sure if it's specific to the browser version of orbit but seemingly
.webm videos don't play in Orbit.

On Thu, Dec 15, 2016 at 7:46 PM, Friedel Ziegelmayer <
notifications@github.com> wrote:

[2016-12-16 15:55] dignifiedquire commented on #210
I tracked the history loading bug a bit more, and it seems that the ipfs-log is corrupted somehow. For example one state in https://github.com/haadcode/orbit-db-store/blob/master/src/Store.js#L56 for `merged` is

[code]

[2016-12-17 19:32] whyrusleeping opened #216 "What exactly is "Loading" ?"
After i type in my username, i get the gray loading screen for a while. (as i write this it has been loading for quite some time). What exactly is happening here? Is it waiting for ipfs peerings?

Would be nice to maybe have a little bit of motion on the screen to make me think its not frozen, or maybe some sort of 'verbose' mode that gives on-screen indication of what its working on

[2016-12-17 19:43] whyrusleeping commented on #216
As a followup to this, the loading never seemed to complete, so i killed the `make start` command i had run and received the following output:

[code]

I had just pulled latest master and run `make` before posting this issue

[2016-12-18 00:39] theobat commented on #216
As written in the logs, `Loading` is starting an ipfs daemon, relevant code is here: https://github.com/haadcode/orbit/blob/master/index.js#L127. It's not peering to get the connected interface as far as I know.

I have seen long ipfs daemon startup as well, perhaps we should try to improve this a priority. Or try to get a more precise profiling on each sequence...
https://github.com/haadcode/ipfs

[2016-12-18 16:06] haadcode commented on #216
Thank you @whyrusleeping for reporting this. Your report lead me to a bug that I've fixed. Can you pull and run `make clean && make`. Btw. is running `make clean` in `make` a standard thing? Should it run?

The loading view was changed as we refactored the startup sequence. I added a proper loading screen, with motion AND verbose (debug log) output. Hope this helps you.

If it still errors, at lea

[2016-12-20 00:23] rsynnest commented on #21
For this use case, we might be overthinking this. If you want a sane ordering of messages on each client, why not order messages by time received instead of time sent? That way each client will see messages in the order they were received, which is how messaging ought to work. (I still think the distributed NTP idea is worth exploring, though maybe as a standalone application or API)

[2016-12-27 18:11] whyrusleeping opened #217 "weird failures on npm install"
Just pulled and tried to install the latest code, was presented with some odd errors:

[code]

[2016-12-27 19:00] haadcode commented on #217
This seems to be broken due to squashed commits https://github.com/ipfs/js-ipfs-api/pull/471. I'll try to get this fixed asap.

[2017-01-03 06:18] arkgit opened #218 "Using Morph.is code to improve Orbit"
the main developer was shot and killed 2 weeks ago and it would mean alot for his work to live on. https://morph.is is a distributed datastore like IPFS and there was a ui being developed for a distributed irc which you can get if you pull the source and git checkout f-dds

 the distributed irc was almost done  heres a mockup of what it was going to look like https://ipfs.pics/Qmab8KzU4jCEYwwHQaDR

[2017-01-03 07:15] haadcode commented on #218
@arkgit I'm really, really sorry to hear that :( That's horrible and I don't know what to say except my deepest condolences.

I can take a look at the f-dds code base and see what's there and how it would fit together with Orbit and IPFS. It'll take me sometime though as I'm completely booked the next two weeks.

Who were the main developers of that (f-dds, distributed IRC) project? Are there peop

[2017-01-03 07:28] arkgit commented on #218
it was pretty much only him on the code, and his common law wife on the ui.
i think someone (fps i think) on the #morphis irc on freenode might have
done a push request or two. i helped on bug reporting and ui tips

On Jan 3, 2017 2:15 AM, "Haad" <notifications@github.com> wrote:

[2017-01-04 10:55] #111 closed

[2017-01-10 13:20] diasdavid opened #219 "Orbit organization"
Creating and subscribing to this issue, so that I get notified when Orbit becomes its on Github org :)

[2017-01-10 13:33] daviddias opened #220 "Notes: Contributing to Orbit"
I'm looking forward to be able to contribute to orbit more and also be more proactive at testing new js-ipfs stuff in orbit. I created this issue to ask questions of how the project is structured and also to collect my notes as I learn.

Will break notes in different comments to make them easy to link to and be actionable.

[2017-01-10 13:36] diasdavid commented on #220
Currently there are no tests, is this expected?

[code]

[2017-01-10 13:38] diasdavid commented on #220
I see that you have raised your fd limit when running in electron -- https://github.com/haadcode/orbit/blob/master/package.json#L27-L28 -- the fd issue has been fixed since June 2016, do you still hit it sometimes? Would be good to inform @whyrusleeping and @kubuxu about it

[2017-01-10 13:40] diasdavid commented on #220
What is the main different between 'orbit' and 'OrbitClient'? Is that `OrbitClient` is the actual application, while `Orbit` is just a thing to spawn in electron?

If that so, would it make more sense to just have one package.json that has npm scripts to spawn both?

I also believe that calling something a Client is confusion, unless it is just a Client UI to the Orbit core, but I don't believe th

[2017-01-10 13:47] diasdavid commented on #220
The instructions to run orbit in Electron and in the Browser in the README are the same

![image](https://cloud.githubusercontent.com/assets/1211152/21808419/9f4dd49a-d743-11e6-859a-007fc47386e7.png)

https://github.com/haadcode/orbit#desktop

[2017-01-10 13:54] diasdavid commented on #220
The getting started link in the README.md leads to nowhere, but opening the API.md file I could find it, but found -- https://github.com/haadcode/orbit/blob/master/API.md#getting-started -- this:

![image](https://cloud.githubusercontent.com/assets/1211152/21808574/2d819918-d744-11e6-9c58-38ea3cd5925a.png)

Which signals me that it might be out of date. What does the `_` mean? Why does this versio

[2017-01-10 13:57] diasdavid commented on #220
Humble request: can we make the code be StandardJS compliant?

[2017-01-10 13:59] diasdavid commented on #220
**Important:** I don't see where the ipfs-api is used from the Node.js process of electron, I only see it being used inside the browser process, both in the Electron and Browser versions, could you clarify?

[2017-01-10 14:09] haadcode commented on #220
Thank you @diasdavid! These are fantastic notes to understand where we need to improve :)

I'll come back to you with details to all of these in the following days.

Quickly though: ipfs is spawned in Electron at https://github.com/haadcode/orbit/blob/master/index.js#L147 which then gets passed via IPC to the UI https://github.com/haadcode/orbit/blob/master/client/src/stores/IpfsDaemonStore.js#L42

[2017-01-10 14:14] theobat commented on #220
Hey @diasdavid wouldn't it be better to group the questions into one ordered post for beginners to find more easily the mapping between questions and answers ? (these questions are a good entry point for new developers to come)

[2017-01-10 14:54] diasdavid commented on #220
aaaah 💡 So, in fact you spawn ipfs-api in the Node.js process, but you call it from the browser process in https://github.com/haadcode/orbit/blob/master/client/src/stores/IpfsDaemonStore.js#L44, because electron gives you _for free_ an RPC for the functions avaialble in the other object, that is why you never got issues with the http requests in the browser. Woa, finding out this one was a ride.

[2017-01-10 14:57] diasdavid commented on #220
@haadcode so the goal is to have:

repos:
  - orbit-ui
  - orbit-electron
  - orbit-browser

Giving that orbit-electron and orbit-browser will use orbit-ui and inject their ipfs instance?

[2017-01-10 14:59] haadcode commented on #220
The goal is to have:
- orbit-app (which is the UI, ie. browser version, uses js-ipfs via ipfs-daemon)
- orbit-electron (uses orbit-app and js-ipfs-api/go-ipfs via ipfs-daemon)

[2017-01-10 15:09] haadcode commented on #220
I believe so, yes.

I hope I will be able to (finally) split all these this week or next week.

Since this is the first time we really discuss this plan, @theobat any thoughts?

[2017-01-10 15:42] theobat commented on #220
orbit-ui
    orbit-electron
    orbit-browser

yeah sounds good ! So the current orbit repo disappears plain and simple ?
Where should we put explanations for the structure though ? it needs to be somewhere visible ..

[2017-01-10 15:50] theobat commented on #159
Just as a follow up I managed to make it "work" without the env variable and with a hand created directory, but I didn't seem to get any peer.. Will try to investigate later.

[2017-01-11 08:07] haadcode commented on #220
Not sure if we should kill this repo. I feel we might lose plenty of inbound traffic if we kill it since it's been here for a long time and linked in a lot of places.

How about we keep this repo as the landing page for all those repos, and in the future collect everything Orbit related here? Eg. there's orbit-textui (terminal client), orbit-bot, and hopefully in the future we have other language

[2017-01-11 08:32] haadcode commented on #220
(with the "fiiiine" voice) Fiiiine. Let's do it step by step as we move the orbit repos to use aegir.

Mark the date @diasdavid :)

[2017-01-11 08:33] haadcode commented on #219
https://github.com/orbit is taken :/

Not sure what would be a good alternative...

[2017-01-11 09:51] theobat commented on #220
Yes sounds like other ipfs repos. It's probably a good idea (although I did not look at the ipfs/ipfs repo until very recently I do believe it's a good idea to keep an "entry point" repo without much code)

[2017-01-11 11:40] diasdavid commented on #220
All right :D

So, quick list of tasks to tackle first:

- [ ] Create an org for Orbit
- [ ] Move things to StandardJS (this is a quick one, all it requires is `standard --fix` and tiny adjustments)
- [ ] Create the orbit-electron repo and move things there
- [ ] Rename this repo to orbit-app
- [ ] Create the orbit repo as a main entry point for the community

[2017-01-11 13:00] VictorBjelkholm commented on #219
Brainstorming some names related to orbit:
* apogee
* perigee
* trajectory

Orbit in Spanish might work, `orbita`.
Or maybe Finnish: `kiertorata`

[2017-01-11 15:59] wking commented on #219
Mmm [peerogi](https://en.wikipedia.org/wiki/Pierogi).  Probably too far from space though :p.

[2017-01-16 19:18] fentas opened #221 "[question] start orbit without starting ipfs deamon"
Is there a way to start Orbit without starting ipfs-deamon, because one is already running.

[2017-01-17 07:17] haadcode commented on #221
Hi @fentas! Currently it's not possible to use a running IPFS daemon, Orbit always starts its own, isolated one.

However, there's technically no reason why we couldn't do this and the support for doing so is provided by the modules used to start the daemon, mainly `ipfs-daemon`.

Would you be interested in adding this feature and do a PR? If so, let me know and I can point you to the right places

[2017-01-18 07:20] haadcode opened #222 "UX feedback notes"
@jbenet and @whyrusleeping took the time to provide some feedback (thank you!) on Orbit UI. Original notes here https://github.com/ipfs/notes/issues/216#issue-201364268, copied here so that we don't forget. I will process these soon to separate issues (for most we already have an open issue) so we can track progress and detailed discussion.

## Orbit notes

- UX issue: you can't get out of replyin

[2017-01-19 17:50] whyrusleeping commented on #21
Messages shouldnt need an absolute timestamp, all we really need is a relative ordering and an approximate time (which we're okay with having be slightly inaccurate). The *most* important thing here is that messages show up in the correct order, for example, my laptops clock is frequently messed up due to me killing the battery, bad ntp responses, and other such funthings. As a result, when i chat

[2017-01-23 08:03] diasdavid commented on #219
We got https://github.com/orbitdb \o/

[2017-01-23 18:29] jbenet commented on #219
What's holding this back? I need this to happen soon, as I need to refer people to the group of orbit repos.

[2017-01-24 13:15] RichardLitt commented on #219
It hadn't clearly been prioritized for anyone. I'll work on this this week, and ask @haadcode to move over repos when he's back from vacation.

[2017-01-25 17:57] RichardLitt commented on #219
Started. https://github.com/orbitdb/orbitdb. See https://github.com/orbitdb/orbitdb/issues/1 for a discussion on which repos to move there. I can shape things up better as I know more.

[2017-01-26 22:01] jesseclay commented on #149
@milesalex have a chance to give this any thought? I'd be curious to see what you come up with!

[2017-01-30 08:01] haadcode commented on #220
I'm gonna start reorganizing this repo. Having thought about it, I think instead of `orbit-app` we should name it `orbit-web` because eventually we'll have many "apps" for different platforms, eg. `orbit-android-app`. `orbit-web` would make it clear that it's a *web* (browser) app imo.

Are you ok with that name?

[2017-01-30 08:06] haadcode commented on #219
@jbenet can you elaborate here on the urgency and target? Is there an event coming at a specific date where we want to talk about orbit(db)? What exactly is "people" in this case, a particular set of users or generally?

[2017-01-30 09:46] dignifiedquire commented on #220
I like orbit-web makes it much clearer

[2017-01-30 10:22] diasdavid commented on #220
👍 orbit-web

[2017-01-30 17:54] RichardLitt commented on #220
I can help! @diasdavid your suggestions look good to me.

[2017-01-31 15:25] haadcode opened #223 "Reorganize this code base"
We need to separate the UI from the electron app so that we have stand-alone repos for the web version and electron version.

Originally discussed here: https://github.com/haadcode/orbit/issues/112 and https://github.com/haadcode/orbit/issues/220#issuecomment-271596527.

WIP repos:
- https://github.com/orbitdb/orbit-electron
- https://github.com/orbitdb/orbit-web

Part of bigger reorganization of

[2017-01-31 15:27] haadcode opened #224 "Identify and define integrations tests"
We want to ramp our testing and as part of the overall goals in the IPFS project to create a distributed networks Test Lab, we need to define a list of integration tests that we want to run for Orbit using Test Lab.

[2017-01-31 15:32] haadcode commented on #224
*Everyone, I invite you to add test cases here!*

We'll provide a template later to define the test cases in detail, but to contribute, feel free to add one-liner test cases, eg:

*Orbit should run a test where 10 clients join the same channel and each post one message per second over 60 seconds. All clients should receive all messages.*

It'd be good to describe what the test does, what the setup

[2017-01-31 15:35] haadcode commented on #132
@RichardLitt let's use this issue to track the progress on the release process discussion documentation for this sprint. Assigned you as you claimed this task yesterday.

[2017-01-31 15:38] haadcode opened #225 "Orbit should be usable at https://orbit.chat"
We want to make Orbit available at a nice url with minimal setup and installation to user. The ideal UX here is that user opens https://orbit.chat in their browser and will be able to use Orbit. That's it.

What needs to be done here is to figure out:
- orbit-web release process
- how we can deploy new version to https://orbit.chat

[2017-01-31 15:39] haadcode commented on #225
@lgierth just to verify, we have orbit.chat domain, right?

[2017-01-31 15:41] VictorBjelkholm commented on #225
@haadcode I can confirm that there is a orbit.chat.

[2017-01-31 15:41] lgierth commented on #225
yep we have orbit.chat

[2017-01-31 16:08] haadcode commented on #218
@arkgit I took a look at the code, but I don't see a clear way to use it and given the potential licensing issues, I'm afraid we can't fulfil your request here.

Once again, sorry to hear about the loss and hopefully the code will live on in some other way. Let me know if there's more to discuss, feel free to re-open this issue and I'd be happy to provide input.

Closing the issue.

[2017-01-31 16:08] #218 closed

[2017-01-31 16:18] haadcode commented on #61
Moving this goal back to the "Inbox" since there hasn't been any updates.

@shamb0t if you still want to work on this in the near future, feel free to do so and move it back to "Backlog". If you don't plan to work on this anytime soon, it'd be great if you could un-assign yourself and label it as "help wanted" and make it available for other to work on.

[2017-01-31 16:25] shamb0t commented on #61
I have time this week I'll work on it 😁

[2017-01-31 18:09] RichardLitt commented on #132
@haadcode Sounds. good. Currently working in ipfs/distributions#133 on this. Your feedback would be great.

[2017-01-31 18:10] RichardLitt commented on #225
@lgierth What do we need to do to get it up at orbit.chat? Is the process to go through https://github.com/ipfs/ops-requests?

[2017-02-01 05:15] haadcode commented on #132
**How to build Orbit distribution packages?**

*This came up in https://github.com/ipfs/distributions/issues/133 and I realized we don't have the process documented, so adding the notes here to make sure we write down these into the README as we work on this goal*

Easiest way to make the release builds is to run `make`, then `make build` and then `make dist` (to get .tar.gz packages. See https://

[2017-02-01 09:30] shamb0t opened #226 "grunt serve failing"
I'm having webpack issues...after a clean npm install, running npm run dev in client/ fails

<img width="1151" alt="screen shot 2017-02-01 at 1 28 50 pm" src="https://cloud.githubusercontent.com/assets/2730657/22501485/6ebbf80c-e882-11e6-97f4-fc0e6fa87dc2.png">

[2017-02-01 10:23] haadcode commented on #226
Hi @shamb0t and thanks for reporting this. This issue comes from how the dev tools are setup for live reloading, webpack2 and webpack-dev-server. Webpack2 has been in beta for a long time (which Orbit uses) and they've finally upgraded to stable 2.x. Unfortuantely I haven't had the time to update the build tools yet, which means atm the live reloading is broken :/

Yu can, however, compile the app

[2017-02-01 10:43] shamb0t commented on #226
Thanks @haadcode I'll try updating to webpack2 and if it takes too long I'll go the clumsy way I guess

[2017-02-01 10:49] shamb0t commented on #226
It works with webpack 2 if I also update grunt-webpack and chunk-manifest-webpack-plugin which doesn't seem to break anything....any reason not to update those? If not I can push the changes

[2017-02-01 11:50] haadcode commented on #226
Oh nice! No reason to *not* update them if that makes it work. Just make sure to push them to a branch :)

[2017-02-02 11:57] shamb0t opened #228 "Messages with the same content have different hashes"
Should messages with the same content have different hashes?
<img width="1312" alt="screen shot 2017-02-02 at 2 56 27 pm" src="https://cloud.githubusercontent.com/assets/2730657/22548538/40b42770-e960-11e6-85bc-093e043cd548.png">

[2017-02-02 13:37] haadcode commented on #228
They should. Why the hash is different is that each message also contains a timestamp, so, posted at different times, different hashes.

[2017-02-02 15:37] diasdavid commented on #219
I believe it is because as orbit get's linked, it is easier to attract people to 'orbit the endeavor', than 'orbit the app'. Plus it is a discoverability thing, in the same way we tell people to go to github.com/ipfs for IPFS things, github.com/orbitdb for orbit things.

[2017-02-02 15:54] VictorBjelkholm commented on #225
@RichardLitt I think, as long as you can hand over a multihash with the application running, we can pin & deploy it on the domain.

[2017-02-02 18:33] diasdavid commented on #225
At some point in the last couple of months, I had a chat with @haadcode and we found that having web.orbit.chat to be the hosted web version and orbit.chat to be the entry point where people can find about orbit and download the executables too :)

[2017-02-03 07:04] haadcode commented on #225
Correct. However, as we don't have a website for orbit, yet, and building a separate (from dist.ipfs.io) download page, I think the best way forward here is to start with orbit (the web app) being at orbit.chat. There's a task to add a banner "You can also use Orbit as a Desktop app, download here" to the app that points to dist.ipfs.io, which should be trivial. Over time, as we build a proper web

[2017-02-03 12:12] #228 closed

[2017-02-03 12:12] haadcode commented on #226
Merged your fix to master @shamb0t.

[2017-02-03 12:12] #226 closed

[2017-02-06 13:19] haadcode commented on #112
This has been done. The code in this repo was finally split accordingly and can be found in the new location under github/orbitdb organization:
- [orbit-core](https://github.com/orbitdb/orbit-core) - Core Orbit library
- [orbit-web](https://github.com/orbitdb/orbit-web) - Orbit browser app
- [orbit-electron](https://github.com/orbitdb/orbit-electron) - Orbit desktop app

[2017-02-06 13:19] haadcode commented on #112
@r0kkerz you should now be able to use orbit-core as a module to build new clients and programs for Orbit. Let me know if there's anything else we can do to help!

[2017-02-06 13:21] haadcode commented on #223
Most of the work has been now completed. Mentioned in https://github.com/haadcode/orbit/issues/112. The following repos have been created to split the code in this repo:

- [orbit-core](https://github.com/orbitdb/orbit-core) - Core Orbit library
- [orbit-web](https://github.com/orbitdb/orbit-web) - Orbit browser app
- [orbit-electron](https://github.com/orbitdb/orbit-electron) - Orbit desktop app

[2017-02-06 13:22] haadcode commented on #223
Added also note to the README that says we're in the process of reorganizing everything and that the code will disappear from here soon.

[2017-02-06 13:23] haadcode commented on #223
What still needs to be done is to actually transfer haadcode/orbit to orbitdb/orbit. I will do so today I hope. And we need to keep updating the README of orbitdb/orbit as we go, many links have been broken.

[2017-02-06 13:25] haadcode commented on #74
This was improved greatly with Webpack 2. I think it's ok atm. If we still want to make it faster, let's re-open this issue then.

[2017-02-06 13:25] #112 closed

[2017-02-06 13:25] #74 closed

[2017-02-06 16:03] haadcode commented on #225
@RichardLitt orbit-web build process has now been documented, see here https://github.com/orbitdb/orbit-web#distribution-package. That should be all you need from orbit's side to progress with this. Following the instructions, you'll get a folder `dist/` (and its multihash) which can be deployed on a web server or as a stand-alone local app. It contains index.html and all the assets orbit-web need

[2017-02-06 16:05] haadcode commented on #132
@RichardLitt I documented the orbit-electron build and packaging process: https://github.com/orbitdb/orbit-electron#distributable-packages. Following those instructions, you should be able to build it locally and use the artefacts as the distribution packages. It'll build everything into `bin/dist/` and you'll have a .tar.gz file for each platform+architecture (currently only darwin and linux 64bi

[2017-02-06 16:09] haadcode commented on #132
@RichardLitt small request: when you start working on this again actively, can you move the card in https://waffle.io/haadcode/orbit to "In Progress"?

[2017-02-06 16:09] haadcode commented on #225
@RichardLitt small request: when you start working on this again actively, can you move the card in https://waffle.io/haadcode/orbit to "In Progress"?

[2017-02-06 16:17] haadcode commented on #217
This should be fixed now. Thanks for reporting @whyrusleeping!

[2017-02-06 16:17] #217 closed

[2017-02-06 16:43] haadcode commented on #216
There's now movement during the loading that should tell you if it's frozen or not. If you run `orbit-electron` in dev mode, you will also get the go-ipfs stdout:
![screen shot 2017-02-06 at 17 38 59](https://cloud.githubusercontent.com/assets/7499694/22656400/8d3c3692-ec93-11e6-9455-7b7ea80ea80c.png)

The issue here should be fixed now. However, heads up @whyrusleeping, I've been seeing that weir

[2017-02-06 16:43] #216 closed

[2017-02-06 16:44] haadcode commented on #214
This has been fixed in the latest version (both).

[2017-02-06 16:44] #214 closed

[2017-02-06 16:48] haadcode commented on #54
Update: as we moved repos, updated deps, got some proper releases for our tools (Webpack@2), we're now looking at  3.6MB distributable for https://github.com/orbitdb/orbit-web. This is minified and using Uglify2#harmony (upcoming version that minifies to ES6). With the uglifyjs version that comes with webpack2, I saw the build at ~2.7MB so there's a big difference between the two. However, we can'

[2017-02-06 16:50] haadcode opened #229 "UI showing 0 peers even though peers are connected and can chat"
Something, somewhere broke and the peer counter in the UI (channel's bottom-right corner) now always shows 0 peers even thought the peers are connected and they can exchange message normally.

I reckon this is an easy fix.

[2017-02-06 17:01] dignifiedquire commented on #54
@haadcode how come it's larger now, than the last comment above?

[2017-02-06 17:40] dignifiedquire commented on #223
@haadcode got some issues with the latest version on https://ipfs.io/ipfs/QmRBmZDB1ssGCchXx1aKM7smiAghRDLKwYR5dWGrozxXCJ/#/channel/ipfs

- peers count is always zero
- getting actual messages takes a loong time
- error in the console:
![screen shot 2017-02-06 at 18 34 11](https://cloud.githubusercontent.com/assets/790842/22658832/bfe9e186-ec9b-11e6-89f8-fa0736451eac.png)

[2017-02-07 12:20] haadcode commented on #223
This code base has now been reorganized and transferred to https://github.com/orbitdb/orbit. Take good care!

[2017-02-07 12:22] haadcode commented on #223
@dignifiedquire the 0 peers issue has been logged, the error should be gone now, for the third one, don't know why getting messages take a long time. We'll need to investigate.

[2017-02-07 12:22] #223 closed

[2017-02-07 12:29] haadcode commented on #34
This should now be solved completely. orbit-web is now using `star-signal.cloud.ipfs.team` as the signalling server address. You can verify/change it in the configuration screen (bottom-right corner in the login screen).

[2017-02-07 12:29] #34 closed

[2017-02-07 12:33] haadcode commented on #219
Here we go: https://github.com/orbitdb/orbit. 👋

[2017-02-07 12:35] haadcode commented on #219
Considering this goal completed. Rest of the orbit related repos still moving and tracked in https://github.com/orbitdb/orbitdb/issues/1.

[2017-02-07 12:35] #219 closed

[2017-02-08 17:43] RichardLitt commented on #225
I've added a command to automatically add the hash to ops-requests. A bit overkill, but now it's automated. https://github.com/orbitdb/orbit-web/pull/1

[2017-02-08 17:49] RichardLitt commented on #225
@haadcode I think this can be closed? Is this done now?

[2017-02-09 06:24] haadcode commented on #225
I'll review this today and check the workflow and tools. Will let you know 👍

[2017-02-09 16:33] lgierth commented on #225
now with ssl: https://orbit.chat

[2017-02-09 16:33] lgierth commented on #225
and ipv6

[2017-02-10 08:24] haadcode commented on #202
This was fixed by adding the gcc versions to the readme in `orbit-web`: https://github.com/orbitdb/orbit-electron/pull/2.

[2017-02-10 08:24] #202 closed

[2017-03-02 13:59] haadcode commented on #118
Working on this. Will land master along with all the other immutable-log related PRs.

[2017-03-02 14:02] haadcode commented on #118
Preview:
![screen shot 2017-03-02 at 15 01 32](https://cloud.githubusercontent.com/assets/7499694/23510303/448e4b8c-ff59-11e6-888c-d03f515aa13b.png)

[2017-03-02 14:03] haadcode commented on #211
Working on this and tracking the work in the original issue. Closing in favor of https://github.com/orbitdb/orbit/issues/118.

[2017-03-02 14:03] #211 closed

[2017-03-02 14:03] haadcode commented on #229
This has been fixed but not PRed yet.

[2017-03-22 10:22] #118 closed

[2017-03-22 10:22] #123 closed

[2017-03-22 10:22] #124 closed

[2017-03-22 10:22] #140 closed

[2017-03-22 10:22] #198 closed

[2017-03-22 10:22] #229 closed

[2017-03-22 12:45] haadcode commented on #210
Most of these issues should now be fixed in master. Specifically the problems related to the messages loading are now fixed.

I'm going to close this one in order to have more granular issues for each specific bug in the future. Please open new issues as you come across bugs.

Thank you everyone for reporting the issues and participating in testing!

[2017-03-22 12:45] #210 closed

[2017-03-22 12:47] haadcode commented on #96
This was fixed.

[2017-03-22 12:47] #96 closed

[2017-03-22 12:51] haadcode commented on #225
This has been completed now. We have been deploying latest version of orbit-web to orbit.chat for a while now. With the latest merges to master, we now have the deployment process documented at https://github.com/orbitdb/orbit-web#publish.

Thank you everyone for making this happen, it's been a long road since last summer but we now have https://orbit.chat working and integrated into our workflow!

[2017-03-22 12:51] #225 closed

[2017-03-22 12:59] haadcode commented on #197
A lot has happened since this issue was opened. We have moved the web version of Orbit to https://github.com/orbitdb/orbit-web and just released a major update to it. It'll soon be deployed to https://orbit.chat but meanwhile it's available from https://ipfs.io/ipfs/Qmd1SGokQMeztUcfW6fqnutZB3RB25DUEvj3MWyhVCW51o/.

We now have a web version of Orbit.

[2017-03-22 12:59] #197 closed

[2017-04-07 12:13] nxtpool commented on #221
Hello @haadcode! Can you point thees places to me?
Am I understand right that we need ipfs 0.23.1 version to call ipfs.start()?

[2017-04-12 14:44] ticruz38 opened #230 "Reload old data through ipfs node instance"
Is there a way to reload data through page refresh with the sample implementation available in orbit-db/browser

[code]
by implementing the ipfs node that way I do get the same node id through implementations but can't find a way to reload old database through refresh...

[2017-04-15 12:16] timthelion opened #231 "Web app doesn't work"
[code]

I set my username to timthelion and pressed enter. Nothing happens when I write a message.

I'm on Chromium Version 57.0.2987.98 Built on 8.7, running on Debian 8.7 (64-bit).

[2017-04-15 12:18] timthelion commented on #231
![screnshot](http://hobbs.cz:8082/ipfs/QmQN2MCYiHixA2qf9yqynopgYTJxrfUrXRoJzPZoqZzZmZ)

[2017-04-23 16:52] fuzzyTew commented on #71
I would think Orbit <--> Matrix would be the way to go.  Matrix already bridges with Slack and IRC.

[2017-05-18 15:32] mulles opened #232 "Energy efficieny for battery powered devices e.x Smartphone"
I would like to discuss the energy efficiency of the orbit protocol.

1. Does one only need one open  permanent connection to the ipfs network for orbit to work?
2.Should one need multiples connections and need to reconnect all the time, the battery of devices would drain very fast. Moreover it would use more bandwidth.

Only problem which comes to mind with content based vs location based, which

[2017-08-11 03:04] qservando commented on #165
Anyone currently working on this enhancement? If not I would like to go ahead and assist if possible.

[2017-08-28 09:04] DeveloppSoft opened #234 "Orbit makes firefox crash"
Hi we tried orbit.chat with a few friends and after some use in firefox in makes firefox crash (or make the whole system lag).

[2017-08-31 12:38] haadcode commented on #234
Thanks for reporting the issue @DeveloppSoft! This is a known issue and being figured out in https://github.com/orbitdb/orbit-web/issues/9, https://github.com/ipfs/js-ipfs/issues/950 and https://github.com/orbitdb/orbit-web/issues/8.

Will update this issue when there's a fix.

[2017-10-05 11:59] layderv opened #235 "Not loading over unsecure connection"
http://orbit.chat does not work, while https://orbit.chat works properly as expected.
The former remains stuck at "LOADING".

[2017-10-20 17:30] vaibhavchellani commented on #165
@haadcode @qservando can i work on this if no one is ?

[2017-10-21 00:18] qservando commented on #165
@vaibhavchellani definitely.

[2017-10-21 09:47] haadcode commented on #165
Go for it @vaibhavchellani!

[2017-10-21 10:26] vaibhavchellani commented on #165
@haadcode @qservando on it ! let me know the contributing guidelines

[2017-10-24 10:39] wildyeast commented on #235
Can reproduce in Chromium 62: When I use insecure http, I get [this error exactly](https://github.com/orbitdb/orbit-web/issues/9#issuecomment-323520295). In Firefox 56 the app runs fine with either secure or insecure http.

[2017-10-24 16:59] vaibhavchellani commented on #165
@haadcode @qservando i am unable to find the link to desktop app , as far i can see we have to generate a binary . What link should i redirect the user to ?

[2017-10-25 01:46] qservando commented on #165
@vaibhavchellani when I was looking into it I was using the documentation here https://github.com/orbitdb/orbit-electron. Has a nice walk through of how to set it up locally. I believe it is running on Linux and OS X currently.

[2017-10-25 04:08] haadcode commented on #165
As we don't have the binary distribution packages yet, I would say we should point to the Electron version Github @vaibhavchellani. What do you think?

[2017-10-25 06:00] vaibhavchellani commented on #165
@haadcode we can do that , is anyone working on creating the binary distribution packages?

[2017-10-30 07:10] drozdziak1 opened #236 "Let's have Orbit go full IPFS"
Like above, wouldn't it be great to be able to access Orbit exclusively via IPFS? (I hope I didn't miss the link, but I looked in some places and all I've seen were HTTP ones).

If there's obstacles, could you guys list them here?

[2017-11-22 19:59] duarteguilherme opened #237 "Is there any reason why I can't recover older messages"
Hey, guys, I tried to use orbit chat on my web browser.

Unfortunately, I can't recover messages I sent to the channel #ipfs a long time ago. As you might see, only recent messages. Maybe this is happening because of IPFS pubsub is not stable?

![image](https://user-images.githubusercontent.com/5980473/33147441-e77e25c6-cfae-11e7-8cf2-8973f8cb2f2f.png)

[2018-02-20 15:08] beenotung opened #238 "Uncaught Error: no protocol with name: p2p-webrtc-star"
When I tried the demo website from android phone and desktop, they both shows '0 peers'.
From the desktop console, I see below error constantly.
[code]

[2018-02-23 01:02] beenotung commented on #238
the demo at
https://orbit.chat/#/channel/ipfs
is working now

[2018-02-23 01:02] #238 closed

[2018-03-16 14:26] daniyalzade opened #239 "Login with uport is not working"
When I click login with uport nothing happens. Also, please let me know if this is not the right place to bring up this issue.

[2018-03-16 15:19] bedri commented on #239
I had also installed Orbit and when I type my nick and press login, it just waits forever. Nothing happens and I cannot log in.

[2018-08-05 14:48] arni077 commented on #157
I dont understand why orbit needs orbitDB database?localStorage wont be enough?if ipfs is serverless and the server who uploaded the app is off ,then, where is the location of the database?

[2018-08-22 18:37] #234 closed

[2018-10-12 04:24] daurnimator opened #240 "asm.js type error: double is not a subtype of int"
Tried to open in firefox private browsing mode.
After typing in a nickname get stuck on LOADING screen.

JS Console has the error:
[code]

[2019-01-06 15:19] evalsocket commented on #135
@haadcode i am here. where to start ?

[2019-01-06 16:00] aphelionz commented on #135
@evalsocket I love your enthusiasm. Would you be interested in joining us on gitter in OrbitDB/Lobby? That might be a great place to start and get you going.

[2019-01-07 20:16] evalsocket commented on #135
Yarn Audit result
![screenshot 2019-01-08 at 1 39 55 am](https://user-images.githubusercontent.com/10830562/50791206-2f310d80-12e7-11e9-81f9-6ac6d855e879.png)

[2019-01-11 14:53] RichardLitt commented on #135
@evalsocket Cool! Is it possible to use it here? Want to try integrating it in a PR?

[2019-01-11 14:58] aphelionz commented on #135
I'd like to see that too - we will have to merge with @latenssi's `orbit-chat` work at some point soon, but I dont think this will make that merge any more or less problematic, honestly. I'll be a bit of work either way.

[2019-01-13 08:30] evalsocket commented on #135
@RichardLitt  it is possible but i am thinking about UI/UX for that feature. @aphelionz is @latenssi  working on that feature ? if yes then where ?

[2019-01-16 07:10] aphelionz commented on #135
@evalsocket Please see https://github.com/orbitdb/orbit-chat

[2019-02-02 12:02] homebeach opened #242 "Orbit <--> Matrix"
Connectivity between Orbit and Matrix. Here is a corresponding issue in [Matrix GitHub](https://github.com/turt2live/matrix-wishlist/issues/248).

[2019-03-08 12:20] JayBrown opened #244 "Possible feature: Dissenter-like browser plugin for discussions on any webpage"
I'm not sure if this is possible, but here's my suggestion for potential future functionality:

Orbit chats would be available per webpage via browser plugin similar to the Dissenter plugin released by the social media platform Gab. Now I honestly don't like Gab, not only because it's a centralized platform with mandatory registration, but mainly because of the severe political problems associated

[2019-07-06 06:45] dferteyfbxcrterg opened #245 "国外文凭办理精英国际文凭俱乐部https://www.diplomaclub.net"
[国外文凭办理](https://www.diplomaclub.net)精英国际文凭俱乐部[https://www.diplomaclub.net](https://www.diplomaclub.net)

[2019-07-06 20:32] #245 closed

[2019-09-27 17:08] aphelionz commented on #236
Moving to the Field Manual for deeper discussion

[2019-09-27 17:10] aphelionz commented on #235
I believe this is a "feature" of WebCrypto currently. Falling back to an HTTP-safe crypto lib is in discussion, but extremely non-trivial. Closing for now with the workaround being HTTPS

[2019-09-27 17:10] #235 closed

[2019-09-27 17:13] aphelionz commented on #232
Moving to the field manual for deeper discussion

[2019-09-27 17:17] aphelionz commented on #206
I believe this can be closed as we're supporting up to js-ipfs 0.36 and go-ipfs 0.4.22 on `latest`

[2019-09-27 17:17] #206 closed

[2019-09-27 17:18] aphelionz commented on #192
I believe this can be closed since we support both `js-ipfs` 0.36 and `go-ipfs` 0.4.22

[2019-09-27 17:18] #192 closed

[2020-05-08 23:37] danrobi11 opened #246 "(Feature Request) Add more info in orbit"
Hello
I just learned what was orbit about with pubsub. Orbit p2p chat working with pubsub file system is not known by every users. Would be useful to add docu links. Theres plenty empty space in the top header next to 'orbit' links like this: https://blog.ipfs.io/25-pubsub/
Thank you for the orbit project!

[2020-05-09 10:58] danrobi11 opened #247 "New message not displaying. Need more user info (whos in the chat?)"
Hello. New messages are not displayed. The page does not scroll down when theres new messages.
Users need to manually scroll down to see new messages.
As for user info the '4 users' is not enough. We need to see whos actually in the chat.

[2020-05-15 07:03] danrobi11 opened #248 "very high cpu usage"
I have very high cpu usage when I go to https://orbit.chat/#/channel/orbit
with galacteek:
https://ipfs.io/ipfs/bafybeiehpdp6axzmxerjg6t7liwjtd3dklwmguhsowmon6wyhqtd6wul6e
with beaker:
https://ipfs.io/ipfs/bafybeig5kzjh5ii3yviwf24bqfqaepbvdjyqszcedu3drzfdkkzh7mlkxq

[2021-03-30 11:45] oknoorap commented on #54
it's been 4 years old issue, any updates?

[2021-04-23 16:55] RichardLitt commented on #220
I think this can probably be closed now. Thanks, @daviddias. Hope you're doing well. :)

[2021-04-23 16:55] #220 closed